{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/botones.css' %}" />


<head>
    <meta charset="UTF-8">
    <title>Assessment</title>
    <link rel="shortcut icon" href="{% static '/images/logo_NTTCS_CF.jpg' %}" />
</head>
<body>
    <!-- Contenedor de la página  -->
    <div class="box wrapper">

        <!-- Logo NTT Control Framework -->
        <div class="logoGrande1">
            <img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.jpg' %}">
        </div>

        <!-- titulo  -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Assesment</h1>
                </div>
            </div>
        </div>

        <!-- Logo de NTT DATA -->
        <div class="logoPequeno">
            <img class="ajustarImg" src="{% static '/images/logo_NTTData.jpg' %}">
        </div>

        <!-- Section de assesmetn -->
        <div class="continerAssesment">
            <form class="containerFlexAssessmentPrinci" method="post">
                {% csrf_token %}
                <div class="containerFlexAssessment">
                    <div class="containerFlexAssessment2">
                        <div> <h1>Crear Assessment</h1></div>
                        <div>
                            <label for="selector1">Assessment Existente</label>
                            <select class="selectStyleAssessment" id="selector1" name="selector1">
                                <option value="none">Ninguno</option>
                                {% for ids in assess %}
                                <option value="{{ids.id_assessment}}">{{ids.id_assessment}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="containerFlexAssessment2">
                        <div> <h1>Crear Assessment</h1></div>
                        <div>
                            <label for="in">Nombre del Assesment</label>
                            <input style="height:20px; width:195px;" type="text" name="in" id="in">
                        </div>
                        <div>
                            <label for="selector2">Seleccion Marcos</label>
                            <select multiple class="selectStyleAssessment" id="selector2" name="selector2" >
                                {% for ids in marcos %}
                                <option value="{{ids.marco_id}}">{{ids.marco_id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="containerFlexAssessment">
                    <div class="botonesFlexAssessment">
                        <div class="cajaBotonAssessment">
                            <button class="btnBorde btnAssesmentIr" >Ir a Assessment</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>





    </div>


</body>
</html>