{% extends "base.html" %}

{% block titulo %} Insertar Dominios {% endblock %}

{% block contenido %}


<div>
    <form method="post">

        <label for="identifier"></label>
        <input type="text" name="identifier" id="identifier">

        <label for="domain"></label>
        <input type="text" name="domain" id="domain">

        <label for="identifier"></label>
        <input type="text" name="identifier" id="identifier">

        <label for="identifier"></label>
        <input type="text" name="identifier" id="identifier">





    </form>
</div>



{% endblock %}