{% extends "base.html" %}

{% block titulo %} Seleccion assessment {% endblock %}

{% block contenido %}
{% load static %}
{% load filter %}

<div class="rowTitulo">
    <!-- Titulo con el nombre del assessment -->
    <div class="cajaTitulo">
        <h1> Entrevistas </h1>
    </div>
</div>

<div class="rowTitulo">
    <div class="cajaPreguntaDescripcion">
        <div class="tarjeta">
            <div class="tituloTarjeta">
                <div class="cuadrotexto">
                    Entrevistas pendientes
                </div>
            </div>
            <div class="textoTarjeta">
                <div class="rowCajas">
                    <div class="card text-bg-ligth border-ligth cardModificada">
                        <h5 class="card-header text-center">Mis entrevistas</h5>
                        <div class="card-body">
                            <h5 class="card-title text-center text-body-secondary fr-1">Aqui aparecen las entrevistas en las que eres el
                                responsable</h5>
                            {% for i in creadas %}
                            <div class="card card-body mb-3">

                                <div class="row justify-content-center align-items-center ">
                                    <div class="col">
                                        <h4 class="card-title text-center" style="font-size:1.7vw;">{{i.titulo}}</h4>
                                    </div>
                                </div>
                                <div class="row  justify-content-center align-items-center">
                                    <div class="row g-0 justify-content-center align-items-center text-center" >
                                        <div class="col-3 text-body-secondary fr-1">Fecha: {{i.fecha.date}}</div>
                                        <div class="col-3 text-body-secondary fr-1" style="">Hora: {{i.fecha.time}}</div>
                                        <div class="col-3 text-body-secondary fr-1" style="">Finalización:
                                            {{i.duracionestimada}}
                                        </div>
                                        <div class="col-3 text-body-secondary fr-1" >Duración:
                                            {{i.duracionestimada|resta:i.fecha}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center ">
                                    <div class="col g-4">
                                        <h5 class="card-title text-center" style="font-size:1vw;">Se tratará el assessment:
                                            {{i.assesment.id_assessment}} y el area: {{i.area}}</h5>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center ">

                                    <div class="col-auto g-4">
                                        <div class="text-body text-center " style="font-size:1.2vw;">Es iniciada por: {{i.editor}}</div>
                                    </div>
                                    <form class="col-auto g-4" method="post">
                                        {% csrf_token %}
                                        {% if i.editor == user %}
                                        <button style="font-size:0.8vw;" type="submit" class="btn btn-sm btn-ntt"
                                                name="btnEditarAssesment"
                                                value="{{i.id}}"><i class="bi bi-pencil"></i>
                                            Comenzar Entrevista
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                                <div class="row justify-content-center align-items-center ">
                                    <div class="col g-4">
                                        <h5 class="card-title text-center" style="font-size:1vw;">Asisten: {{i.asistentes}} </h5>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center ">
                                    <form class="col-auto g-4" method="post">
                                        {% csrf_token %}
                                        <button style="font-size:0.7vw;" type="submit" class="btn btn-sm btn-ntt"
                                                name="btnEditarEntrevista"
                                                value="{{i.id}}"><i class="bi bi-pencil"></i>
                                            Editar Entrevista
                                        </button>
                                    </form>
                                    <form class="col-auto g-4" method="post">
                                        {% csrf_token %}
                                        <button style="font-size:0.7vw;" type="submit" class="btn btn-sm btn-danger"
                                                name="btnEliminarEntrevista"
                                                value="{{i.id}}"><i class="bi-trash"></i>
                                            Eliminar Entrevista
                                        </button>
                                    </form>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>

                </div>
                <div class="rowCajas">
                    <div class="card text-bg-ligth border-ligth cardModificada">
                        <h5 class="card-header text-center">Otras Entrevistas</h5>
                        <div class="card-body">

                            <h5 class="card-title text-center fr-1">Aqui aparecen las demas entrevistas</h5>
                            {% for i in asistes %}
                            {% if i.entrevista.editor != user %}
                            <form class="card card-body mb-3" method="post">
                                {% csrf_token %}

                                <div class="row justify-content-center align-items-center ">
                                    <div class="col">
                                        <h4 class="card-title text-center" style="font-size:1.7vw;">{{i.entrevista.titulo}}</h4>
                                    </div>
                                </div>
                                <div class="row  justify-content-center align-items-center">
                                    <div class="row g-0 justify-content-center align-items-center text-center">
                                        <div class="col-4 text-body-secondary" style="font-size:0.8vw;">Fecha: {{i.entrevista.fecha.date}}
                                        </div>
                                        <div class="col-2 text-body-secondary" style="font-size:0.8vw;">Hora: {{i.entrevista.fecha.time}}
                                        </div>
                                        <div class="col-3 text-body-secondary" style="font-size:0.8vw;">Finalización:
                                            {{i.entrevista.duracionestimada}}
                                        </div>
                                        <div class="col-3 text-body-secondary" style="font-size:0.8vw;">Duración:
                                            {{i.entrevista.duracionestimada|resta:i.entrevista.fecha}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center ">
                                    <div class="col g-4">
                                        <h5 class="card-title text-center" style="font-size:1vw;">Se tratará el assessment:
                                            {{i.entrevista.assesment.id_assessment}} y el area:
                                            {{i.entrevista.area}}</h5>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center ">
                                    <div class="col-3"></div>
                                    <div class="col g-4">
                                        <div class="text-body text-center" style="font-size:1.2vw;">Es iniciada por:
                                            {{i.entrevista.editor}}
                                        </div>
                                    </div>
                                    <div class="col-3 g-4">
                                        {% if i.entrevista.editor == user %}
                                        <button style="font-size:0.5vw;" type="submit" class="btn btn-sm btn-info"
                                                name="btnEditarAssesment"
                                                value="{{i.id}}"><i class="bi bi-pencil"></i>
                                            Comenzar Entrevista
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center ">
                                    <div class="col g-4">
                                        <h5 class="card-title text-center" style="font-size:1vw;">Convocados: {{i.entrevista.asistentes}} </h5>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cajaPreguntaDescripcion">
        <div class="tarjeta">
            <div class="tituloTarjeta">
                <div class="cuadrotexto">
                    Crear entrevista
                </div>
            </div>
            <div class="textoTarjeta">
                <div class="rowCajas">
                    <div class="card text-bg-ligth border-ligth cardModificada">
                        <h5 class="card-header text-center">Seleccione Proyecto</h5>
                        <form class="card-body" method="post">
                            {% csrf_token %}
                            <select class="selectpicker" data-width="100%" aria-label="Default select example"
                                    data-live-search="true" onchange="this.form.submit()" id="selectorProyecto"
                                    name="selectorProyecto">
                                <option selected disabled value="None">--- No Seleccionado ---</option>
                                {% for ids in proyectos %}
                                {% if ids.proyecto.codigo == proyectoSelec %}
                                <option selected value="{{ids.proyecto.codigo}}">{{ids.proyecto.codigo}},
                                    {{ids.proyecto.nombre}}
                                    {% else %}
                                <option value="{{ids.proyecto.codigo}}">{{ids.proyecto.codigo}}, {{ids.proyecto.nombre}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
                {% if proyectoSeleccionado %}
                <div class="rowCajas">
                    <div class="card text-bg-ligth border-ligth cardModificada">
                        <h5 class="card-header text-center">Seleccione Assessmet</h5>
                        <form class="card-body" method="post">
                            {% csrf_token %}
                            <select class="selectpicker" data-width="100%" aria-label="Default select example"
                                    data-live-search="true" onchange="this.form.submit()" id="selectorAssessment"
                                    name="selectorAssessment">
                                <option selected disabled value="None">--- No Seleccionado ---</option>
                                {% for i in assess %}
                                {% if i.assessment.id_assessment == assessSelec %}
                                <option selected value="{{i.assessment.id_assessment}}">{{i.assessment.id_assessment}}
                                    {% else %}
                                <option value="{{i.assessment.id_assessment}}">{{i.assessment.id_assessment}}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>

                {% if assessmentSeleccionado %}
                <div class="rowCajas">
                    <div class="card text-bg-ligth border-ligth cardModificada">

                        <h5 class="card-header text-center">Rellene los datos para crear la entrevista</h5>
                        <form class="card-body" method="post">
                            {% csrf_token %}

                            <div class="input-group mb-3 ">
                                <span class="input-group-text" style="font-size:0.8vw;" id="basic-addon3">Titulo</span>
                                <input type="text" style="font-size:0.8vw;" class="form-control" placeholder="Titulo" aria-label="Titulo"
                                       aria-describedby="basic-addon3" id="Titulo" name="Titulo" value="{{entrevistaEditar.titulo}}">
                            </div>
                            <div class="input-group mb-3 ">
                                <span class="input-group-text" style="font-size:0.8vw;" id="basic-addon4">Area</span>
                                <input type="text" style="font-size:0.8vw;" class="form-control" placeholder="Area" aria-label="Area"
                                       aria-describedby="basic-addon4" name="Area" value="{{entrevistaEditar.area}}">
                            </div>
                            <div class="input-group mb-3 ">
                                <span class="input-group-text" style="font-size:0.8vw;" id="basic-addon5">Fecha</span>
                                <input type="datetime-local" style="font-size:0.8vw;" class="form-control" placeholder="Fecha" aria-label="Fecha"
                                       aria-describedby="basic-addon5" name="Fecha" value="{{entrevistaEditarFecha}}">
                                <span class="input-group-text" style="font-size:0.8vw;" id="basic-addon6">Hora Finalizacion </span>
                                <input type="Time" style="font-size:0.8vw;" class="form-control" placeholder="Duracion" aria-label="Duracion"
                                       aria-describedby="basic-addon6" name="Duracion" value="{{entrevistaEditarDuracion}}">
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text " style="font-size:0.8vw;" for="selectorUsuarios">Seleccione Los Controles</label>
                                <select multiple class="form-select selectpicker" data-live-search="true" style="font-size:0.8vw;"
                                        data-actions-box="true" id="selectorControles" name="selectorControles">
                                    {% for i in controlesAssess %}
                                    {% if i.control_id in entrevistaControles %}
                                    <option selected value="{{i.control_id}}">{{i.control_id}}, {{i.control_name}}</option>
                                    {% else %}
                                    <option  value="{{i.control_id}}">{{i.control_id}}, {{i.control_name}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text " style="font-size:0.8vw;" for="selectorUsuarios">Seleccione al Responsable de la
                                    Entrevista</label>
                                <select class="form-select " data-live-search="true" style="font-size:0.8vw;"
                                        data-actions-box="true" id="selectorEditor" name="selectorEditor">
                                    <option selected disabled value="none">Seleccione al Responsable</option>
                                    {% for ids in usuarios %}
                                    {% if ids.usuario.id == entrevistaEditar.editor.id %}
                                    <option selected value="{{ids.usuario.username}}">{{ids.usuario.username}}</option>
                                    {% else %}
                                    <option value="{{ids.usuario.username}}">{{ids.usuario.username}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text " style="font-size:0.8vw;" for="selectorUsuarios">Seleccione Consultores</label>
                                <select multiple class="form-select selectpicker" style="font-size:0.8vw;" data-live-search="true"
                                        data-actions-box="true" id="selectorUsuarios" name="selectorUsuarios">
                                    {% for ids in usuarios %}
                                    {% if ids.usuario.id in entrevistaEditarConsultores %}
                                    <option selected value="{{ids.usuario.username}}">{{ids.usuario.username}}</option>
                                    {% else %}
                                    <option value="{{ids.usuario.username}}">{{ids.usuario.username}} </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group mb-3 ">
                                <span class="input-group-text" style="font-size:0.8vw;">Convocados</span>
                                <textarea class="form-control"
                                          aria-label="Convocados"
                                          rows="5"
                                          placeholder="Convocados"
                                          name="Asistentes" style="font-size:0.8vw;">{{entrevistaEditar.asistentes}}</textarea>
                            </div>

                            <div class="card-text text-center">
                                <p class="d-inline-flex gap-1">
                                    {% if entrevistaEditarEditando %}
                                    <button type="submit" class="btn btn-ntt" name="btnEditarEntrevistaEnviar" value="{{entrevistaEditar.id}}">Editar Entrevista</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-ntt" name="btnCrearEntrevista">Crear Entrevista</button>
                                    {% endif %}
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade  " id="myModal" data-bs-keyboard="false"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form class="modal-dialog modal-lg  modal-dialog-centered" method="post">
        {% csrf_token %}
        <div class="modal-content">

            <div class="modal-header" style="text-align:center;">
                <div class="cajaCarga">
                    <h5 class="modal-title" id="exampleModalLabel">Creando Assessment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body">
                <form class="row">

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="selectorUsuarios">Seleccione Usuarios</label>
                        <select multiple class="form-select selectpicker" data-live-search="true"
                                data-actions-box="true" id="selectorUsuarios2" name="selectorUsuarios2">
                            {% for ids in usuarios %}
                            {% if ids.username != 'admin' %}
                            {% if ids.username in usuariosProyecto %}
                            <option selected value="{{ids.username}}">{{ids.username}}</option>
                            {% else %}
                            <option value="{{ids.username}}">{{ids.username}}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </select>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-ntt">Save changes</button>
            </div>

        </div>
    </form>
</div>


{% endblock %}