{% extends "base.html" %}

{% block titulo %} Exportaciones {% endblock %}

{% block contenido %}

    <!-- Contenedor de la página  -->
    <div class="box wrapper">



        <!-- titulo  -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Exportaciones</h1>
                </div>
            </div>
        </div>

        <!-- Logo de NTT DATA -->
        <div class="logoPequeno">
            <img class="ajustarImg" src="../staticfiles/images/logo_NTTData.jpg">
        </div>

        <!-- Section botones -->
        <div class="ex22">
            <h3>Assesment Existente</h3>
        </div>

        <div class="ex32">
            <select style="width:100%;" class="selectStyleAssessment">
                <option value="none">None</option>
            </select>
        </div>

        <div class="ex23">
            <div class="botonesFlexAssessment">
                <button class="btnBorde btnAssesmentIr" >Excel</button>
            </div>
        </div>
        <div class="ex24">
            <div class="botonesFlexAssessment">
                <button class="btnBorde btnAssesmentIr" >Word</button>
            </div>
        </div>
        <div class="ex25">
            <div class="botonesFlexAssessment">
                <button class="btn btn-success btnBorde btnAssesmentIr" >CSV</button>
            </div>
        </div>

    </div>
{% endblock %}