{% extends "base.html" %}

{% block titulo %} Exportaciones {% endblock %}

{% block contenido %}

    <!-- Contenedor de la página  -->
    <div class="rowInformes">


        <div class="rowTitulo">
        <!-- Titulo con el nombre del assessment -->
            <div class="cajaTitulo">
                <h1>EXPORTACIONES</h1>
            </div>
        </div>

        <br>

        <!-- Section botones -->

        <div class="rowInformesSelect">

            <h3>Assesment Existente</h3>
            <select class="form-select form-select-md">
                <option value="none">None</option>
            </select>
        </div>



        <div class="rowExport">
            <div class="btn-group btnGroupInformes" role="group">
                <button class="btn btn-success" >Excel</button>

                <button class="btn btn-primary" >Word</button>

                <button class="btn btn-secondary" >CSV</button>
            </div>
        </div>


    </div>
{% endblock %}