{% extends "base.html" %}

{% block titulo %} Exportaciones {% endblock %}

{% block contenido %}
{% load static %}

<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>


<!-- Contenedor de la página  -->
<script src="{% static '/js/scripts.js' %}"></script>

<div class="rowTitulo">
    <!-- Titulo con el nombre del assessment -->
    <div class="cajaTitulo">
        <h1>EXPORTACIONES</h1>
    </div>
</div>

<div class="rowTitulo">
    <div class="cajaSeleccionAsssessment">
        <div class="tarjeta">
            <div class="tituloTarjeta">
                <div class="cuadrotexto">
                    Selección de proyecto
                </div>
            </div>
            <form class="textoTarjeta" method="post">
                {% csrf_token %}
                <div class="cajaTextoSeleccionAssesment contenidoAbajo">
                    <div class="margenArriba">
                        <label> Seleccione un Proyecto</label>
                    </div>
                </div>
                <div class="cajaTextoSeleccionAssesment">
                    <div class="cajaSelectorCentrado margenAbajo">
                        <select class="selectpicker" data-width="100%" aria-label="Default select example"
                                data-live-search="true" onchange="this.form.submit()" id="selectorProyecto"
                                name="selectorProyecto">
                            <option value="None">--- No Seleccionado ---</option>
                            {% for ids in proyectos %}
                            {% if ids.proyecto.codigo == proyectoSelec %}
                            <option selected value="{{ids.proyecto.codigo}}">{{ids.proyecto.codigo}},
                                {{ids.proyecto.nombre}}
                                {% else %}
                            <option value="{{ids.proyecto.codigo}}">{{ids.proyecto.codigo}}, {{ids.proyecto.nombre}}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% if proyectoSeleccionado %}
<div class="rowTitulo">
    <div class="cajaSeleccionAsssessment">
        <div class="tarjeta">

            <!-- Titulo de la pagina del contenido -->
            <div class="tituloTarjeta">
                <div class="cuadrotexto">
                    Exportar Assessment
                </div>
            </div>

            <!-- formulario Creacion de la tarjeta de contenido -->
            <form class="textoTarjeta" method="post">
                {% csrf_token %}
                <div class="cajaTextoSeleccionAssesment contenidoAbajo">
                    <div class="margenArriba">
                        <label> Seleccione un Assessment</label>
                    </div>
                </div>
                <!-- seleccion del assessment para generar el fichero de exportacion -->
                <div class="cajaTextoSeleccionAssesment">
                    <div class="cajaSelectorCentrado margenAbajo">
                        <select class="selectpicker" data-width="100%" aria-label="Default select example"
                                data-live-search="true" id="selector1" name="selector1">
                            <option value="None">--- No Seleccionado ---</option>
                            {% for ids in assess %}
                            <option value="{{ids.assessment.id_assessment}}">{{ids.assessment.id_assessment}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="cajaTextoSeleccionAssesment contenidoAbajo">
                    <div class="margenArriba">
                        <label> Seleccione los campos que quiera para la exportacion</label>
                    </div>
                </div>
                <div class="cajaTextoSeleccionAssesment">
                    <div class="cajaSelectorCentrado margenAbajo">
                        <select multiple class="form-select selectpicker " data-width="100%" style="font-size:0.8vw;"
                                data-live-search="true"
                                id="selector2"
                                name="selector2" data-actions-box="true">

                            <option value="Identificador Control">Identificador Control</option>
                            <option value="Nombre Control">Nombre Control</option>
                            <option value="Descripcion Control">Descripcion Control</option>
                            <option value="Pregunta">Pregunta</option>
                            <option value="Respuesta">Respuesta</option>
                            <option value="Valoracion">Valoracion</option>
                            <option value="Valoracion Objetivo">Valoracion Objetivo</option>
                            <option value="Evidencias">Evidencias</option>
                            <option value="Iniciativas">Iniciativas</option>

                        </select>
                    </div>
                </div>
                <!-- Section botones por tipo de formato -->
                <div class="rowExport">
                    <div class=" btnGroupInformes">
                        <div class="cajaBotonExportacion">
                            <button class="btn btn-success btn-block" type="submit" name="excel" value="excel"><i
                                    class="bi bi-file-earmark-spreadsheet"></i> Excel
                            </button>
                        </div>
                        <div class="cajaBotonExportacion">
                            <button class="btn btn-primary btn-block" type="submit" name="word" value="word"><i
                                    class="bi bi-file-earmark-word"></i> Word
                            </button>
                        </div>
                        <div class="cajaBotonExportacion">
                            <button class="btn btn-secondary btn-block" type="submit" name="csv" value="csv"><i
                                    class="bi bi-filetype-csv"></i> CSV
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="rowTitulo">
    <div class="cajaSeleccionAsssessment">
        <div class="tarjeta">
            <div class="tituloTarjeta">
                <div class="cuadrotexto">
                    Configuración de tabla
                </div>
            </div>
            <form class="textoTarjeta" method="post">
                {% csrf_token %}
                <script>
                    $(document).ready(function(){
                        $(".container").sortable();
                    });
                </script>
                <div  class="container">
                    {% for i in seleccion %}
                    <div draggable="true" class="box">
                        <input  class="form-control" type="text" readonly value="{{i}}" name="lista">
                    </div>

                    {% endfor %}
                </div>
                <div class="rowExport">
                    <div class=" btnGroupInformes">

                        <div class="cajaBotonExportacion">
                            <button class="btn btn-primary btn-block" type="submit" name="ExWord" value="ExWord">
                                Exportar
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}