{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/botones.css' %}" />

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" href="{% static '/images/logo_NTTCS_CF.png' %}" />
</head>
<body>
    <div class="box wrapper">

        <div class="logoGrande">
            <img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.png' %}">
        </div>
        <div class="logoPequeno"><img src="{% static '/images/logo_NTTData.jpg' %}"></div>
        <div class="informacion">
            <br>NTT Cybersecurity Control Framework
            <br>NTT DATA EMEAL Cybersecurity Services
            <br>Risk Managenent
        </div>
        <div style="margin-top:5px;" class="loginNames">
            <h5>Usuario</h5>
            <h5>Contraseña</h5>
        </div>
        <div class="login">
            <form method="post">
                {% csrf_token %}
                <br>
                <br>
                <div><input style="height:23px;" class="redondearBordes" text="usuario" name="usuario"></div>
                <br>

                <div><input style="height:23px;" class="redondearBordes" text="pass" name="pass"></div>
                <br>

                <button class="btnBorde btnLogin"  type="submit">Entrar</button>

            </form>
        </div>
    </div>


</body>
</html>