{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/botones.css' %}" />


<head>
    <meta charset="UTF-8">
    <title>Informes</title>
    <link rel="shortcut icon" href="{% static '/images/logo_NTTCS_CF.jpg' %}" />
</head>
<body>
    <div class="box wrapper">

        <div class="logoGrande1">
            <img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.jpg' %}">
        </div>

        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Informes</h1>
                </div>
            </div>
        </div>

        <div class="logoPequeno">
            <img class="ajustarImg" src="{% static '/images/logo_NTTData.jpg' %}">
        </div>

        <div class="ex22">
            <h3>Assesment Existente</h3>
        </div>

        <div class="ex32">
            <select style="width:100%;" class="selectStyleAssessment">
                <option value="none">None</option>
            </select>
        </div>

        <div class="ex23">
            <div class="botonesFlexAssessment">
                <button class="btnBorde btnAssesmentIr" >Generar Informe</button>
            </div>
        </div>


    </div>


</body>
</html>