{% extends "base.html" %}

{% block titulo %} Informes {% endblock %}

{% block contenido %}



<div class="rowTitulo">
    <!-- Titulo con el nombre del assessment -->
    <div class="cajaTitulo">
        <h1>INFORMES</h1>
    </div>
</div>

    <!-- Contenedor de la página  -->
<div class="rowTitulo">
    <div class="cajaSeleccionAsssessment">
        <div class="tarjeta">

            <!-- Titulo de la pagina del contenido -->
            <div class="tituloTarjeta">
                <div class="cuadrotexto">
                    Informes
                </div>
            </div>


            <!-- seleccionar assementet  -->
            <form class="textoTarjeta" method="post">
                {% csrf_token %}
                <div class="cajaTextoSeleccionAssesment contenidoAbajo">
                    <div class="margenArriba">
                        <label> Seleccione un Assessment</label>
                    </div>
                </div>

                <div class="cajaTextoSeleccionAssesment">
                    <div class="cajaSelectorCentrado margenAbajo">
                        <select  class="selectpicker" data-width="100%" aria-label="Default select example" data-live-search="true"   id="selector1" name="selector1">
                            <option value="None">--- No Seleccionado ---</option>
                            {% for ids in assess %}
                            <option value="{{ids.id_assessment}}">{{ids.id_assessment}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- boton de generar informe -->
                <div class="rowExport">

                    <button class="btn btn-lg btn-primary" disabled>Generar Informe</button>

                </div>

            </form>
        </div>
    </div>
</div>



{% endblock %}