{% extends "base.html" %}

{% block titulo %} Informes {% endblock %}

{% block contenido %}

    <!-- Contenedor de la página  -->
    <div class="box wrapper">



         <!-- Logo NTT Control Framework -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Informes</h1>
                </div>
            </div>
        </div>

        <!-- Logo de NTT DATA -->
        <div class="logoPequeno">
            <img class="ajustarImg" src="../staticfiles/images/logo_NTTData.jpg">
        </div>



        <!-- titulo  -->
        <div class="ex22">
            <h3>Assesment Existente</h3>
        </div>

        <!-- seleccionar assemente  -->
        <div class="ex32">
            <select style="width:100%;" class="selectStyleAssessment">
                <option value="none">None</option>
            </select>
        </div>

        <!-- boton de generar informe -->
        <div class="ex23">
            <div class="botonesFlexAssessment">
                <button class="btnBorde btnAssesmentIr" >Generar Informe</button>
            </div>
        </div>


    </div>

{% endblock %}