{% extends "base.html" %}

{% block titulo %} Mantenimiento Controles NTT {% endblock %}

{% block contenido %}

    <!-- Contenedor de la página  -->

    <!-- titulo  -->
    <div class="rowTitulo">
        <!-- Titulo con el nombre de controles NTTCS -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Controles NTTCS</h1>
        </div>
    </div>

    <!-- input de buscar  -->
    <div class="rowCajasMantenimiento">
        <!-- caja buscar -->
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda" onkeyup="doSearch()">
            </div>
        </form>
    </div>

    <!-- TABLA DE CONTENIDO -->
    <table class="table table-fixed" id="datatable_controlesnttcs">
        <!-- header de la tabla -->
        <thead>
            <tr>
                <th scope="col" style="width:100px;">Domain</th>
                <th scope="col">selected y n field</th>
                <th scope="col">control</th>
                <th scope="col">Description</th>
                <th scope="col">relative control weighting</th>
                <th scope="col">function grouping</th>
                <th scope="col">assesed result</th>
                <th scope="col">numeric result</th>
                <th scope="col">weighted numeric result</th>
                <th scope="col">assessment comments</th>
                <th scope="col">relative result by function</th>
                <th scope="col">relative result by domain</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <!-- cuerpo de la tabla -->
        <tbody id="tableControlesNttcs">
        <!-- creacion de fila para insertar datos -->
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input class="inputTabas" style="width:100px;" type="text" name="domain" placeholder="Insert domain" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text" name="selected_y_n_field" placeholder="Insert selected_y_n_field" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text" style="width:150px;" name="control" placeholder="Insert control" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" style="width:150px;" name="control_description" placeholder="insert Description" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="relative_control_weighting" placeholder="insert relative_control_weighting" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="function_grouping" placeholder="insert function_grouping" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="assesed_result" placeholder="insert assesed_result" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="numeric_result" placeholder="insert numeric_result" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="weighted_numeric_result" placeholder="insert weighted_numeric_result" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="assessment_comments" placeholder="insert assessment_comments" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="relative_result_by_function" placeholder="insert relative_result_by_function" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="relative_result_by_domain" placeholder="insert relative_result_by_domain" autocomplete="false"></td>
                    <td class="botonesTabla">
                        <button class="btn btn-success btn-sm" title="Guardar" id="insertar" name="insertar">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </td>
                </form>
            </tr>
            <!-- muestra el contenido de la tabla -->
            {% for ids in consulta %}
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input class="inputTabas" type="text" value="{{ids.domain}}" name="domain" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.selected_y_n_field}}" name="selected_y_n_field" ></td>
                    <td><textarea class="inputTabas" style="width:150px;" rows="5" type="text" value="{{ids.control}}" name="control" >{{ids.control}}</textarea></td>
                    <td><textarea class="inputTabas" style="width:150px;" rows="5" type="text" value="{{ids.control_description}}" name="control_description" >{{ids.control_description}}</textarea></td>
                    <td><input class="inputTabas" type="text" value="{{ids.relative_control_weighting}}" name="relative_control_weighting"></td>
                    <td><input class="inputTabas" type="text" value="{{ids.function_grouping}}" name="function_grouping" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.assesed_result}}" name="assesed_result" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.numeric_result}}" name="numeric_result" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.weighted_numeric_result}}" name="weighted_numeric_result"></td>
                    <td><input class="inputTabas" type="text" value="{{ids.assessment_comments}}" name="assessment_comments" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.relative_result_by_function}}" name="relative_result_by_function" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.relative_result_by_domain}}" name="relative_result_by_domain" ></td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar" id="modificar" name="modificar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Borrar" id="eliminar" name="eliminar">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </form>
            </tr>
            {% endfor %}

        </tbody>
    </table>





{% endblock %}
