{% extends "base.html" %}

{% block titulo %} Assesment Archivados {% endblock %}

{% block contenido %}

     <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre del assessment -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Assesments Archivados</h1>
        </div>
    </div>


    <!-- SELECTOR DE CONTROLES -->
    <div class="">
        <form class="rowCajasMantenimiento" method="post">
            {% csrf_token %}
            <div class="cajaBuscar input-group">
                <label class="input-group-text">Control</label>
                <select class="form-select"  id="selector" name="selector">
                    <option selected>Elige una opción ... </option>
                    {% for ids in selector %}
                    <option selected value="{{ids.id_assessment}}">{{ids.id_assessment}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="btnFlexMant">
                <button class="btn btn-info btn-block" type="submit" id="boton" name="boton" value="btn1">Rellenar</button>
            </div>
            <div class="btnFlexMant"></div>
        </form>
    </div>

    <!-- BOTONES DE BUSQUEDA, MODIFICAR Y ELIMINAR -->
    <div class="rowCajasMantenimiento">
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <input class="form-control" type="text" id="busqueda" name="busqueda" placeholder="Buscar ...">
                <button class="btn btn-outline-primary"  type="submit">Buscar</button>
            </div>
        </form>

        <form class="btnFlexMant" method="post" >
            {% csrf_token %}
            <button class="btn btn-warning btn-block"  type="submit">Modificar</button>
        </form>

        <div class="btnFlexMant">
            <a class="btn btn-danger btn-block" href="{% url 'EliminarAssessment' %}" >Eliminar</a>
        </div>
    </div>

    <!-- TABLA DE CONTENIDO -->
    <table class="table table-fixed">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Descripción</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Criterio de valoracion</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Valoracion</th>
                <th scope="col">Evidencia</th>
            </tr>
        </thead>
        <tbody>
            {% for ids in consulta %}
            <tr>
                <td>{{ids.0}}</td>
                <td>{{ids.1}}</td>
                <td>{{ids.2}}</td>
                <td>{{ids.3}}</td>
                <td>{{ids.4}}</td>
                <td>{{ids.5}}</td>
                <td>{{ids.6}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>






        <!-- COPIA ORIGINAL
        <!-- titulo
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Mantenimiento Assesments Archivados</h1>
                </div>
            </div>
        </div>

        <!-- Seccion select de los assesment guardados
        <div class="selectorTablas2">
            <form class="selectorTablasFlex2" method="post">
                {% csrf_token %}
                <div class="cajaSelectTabla">
                    <label>Control</label>
                    <select style="width:100%;" class="selectStyleAssessment"  id="selector" name="selector">
                        {% for ids in selector %}
                        <option selected value="{{ids.id_assessment}}">{{ids.id_assessment}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="cajaBotonTabla">
                    <button class="btnBorde btnAss" type="submit" id="boton" name="boton" value="btn1">Rellenar</button>
                </div>
            </form>
        </div>

        <!-- vista del boton de modificar
        <div class="botonModificar2">
            <form class="tablasModificarFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btnBorde btnTablas"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

        <!-- Seccion de busqueda
        <div class="tablasBusca2">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div >
                    <input style="width:150%;height:20px;" type="text" id="busqueda" name="busqueda">
                </div>
                <div >
                    <button class="btnBorde btnTablas"  type="submit">Buscar</button>
                </div>
            </form>
        </div>

        <!-- Boton eliminar
        <div class="botonEliminar2">
            <div class="tablasEliminarFlex">
                <div >
                    <a class="btnBorde btnTablas" href="{% url 'EliminarAssessment' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles
        <div class="tablasTablas2">
            <div class="tabasFlex">
                <div class="cajaTablasTitulo">
                    <div class="tabasTablaFlexTitulo"><div class="tb_colprueba">id</div><div class="tb_colprueba">descripcion</div><div class="tb_colprueba">Pregunta</div><div class="tb_colprueba">Criterio de valoracion</div><div class="tb_colprueba">respuesta</div><div class="tb_colprueba">Valoracion</div><div class="tb_colprueba">evidencia</div></div>
                </div>
                <div class="cajaTablas">
                    {% for ids in consulta %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{ids.0}}</div><div class="tb_colprueba">{{ids.1}}</div><div class="tb_colprueba">{{ids.2}}</div><div class="tb_colprueba">{{ids.3}}</div><div class="tb_colprueba">{{ids.4}}</div><div class="tb_colprueba">{{ids.5}}</div><div class="tb_colprueba">{{ids.6}}</div></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- formulario para insertar datos
        <div class="tablasInsertar2">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="id">id</label>
                    <input style="width:100%;height:20px;" type="text" id="id" name="id" value="{{seleccion.0}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="descripcion">descripcion</label>
                    <input style="width:100%;height:20px;" type="text" id="descripcion" name="descripcion" value="{{seleccion.1}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="Pregunta">Pregunta</label>
                    <input style="width:100%;height:20px;" type="text" id="Pregunta" name="Pregunta" value="{{seleccion.2}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="criterio">criterio</label>
                    <input style="width:100%;height:20px;" type="text" id="criterio" name="criterio" value="{{seleccion.3}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="respuesta">respuesta</label>
                    <input style="width:100%;height:20px;" type="text" id="respuesta" name="respuesta" value="{{seleccion.4}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="valoracion">valoracion</label>
                    <input style="width:100%;height:20px;" type="text" id="valoracion" name="valoracion" value="{{seleccion.5}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="evidencia">evidencia</label>
                    <input style="width:100%;height:20px;" type="text" id="evidencia" name="evidencia" value="{{seleccion.6}}">
                </div>

                <div class="cajaInsertar1 cajaButton" >
                    <button class="btn btn-success btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>
    -->


{% endblock %}
