{% extends "base.html" %}

{% block titulo %} Menu {% endblock %}

{% block contenido %}

    <!-- Contenedor de la página  -->
    <div class="box wrapper">


         <!-- titulo  -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Mantenimiento Preguntas</h1>
                </div>
            </div>
        </div>



        <!-- vista del boton de modificar -->
        <div class="botonModificar">
            <form class="tablasBtnFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btn btn-warning"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

        <!-- Seccion de busqueda -->
        <div class="tablasBusca">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div class="buscarMantenimiento" >
                    <div>
                        <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda">
                    </div>
                    <div >
                        <button class="btn btn-primary"  type="submit">Buscar</button>
                    </div>
                </div>

            </form>
        </div>

        <!-- Boton eliminar -->
        <div class="botonEliminar">
            <div class="tablasBtnFlex">
                <div >
                    <a class="btn btn-danger" href="{% url 'EliminarPreguntas' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles  -->
        <div class="tablasTablas">
            <div class="tabasFlex">
                <div class="cajaTablasTitulo">
                    <div class="tabasTablaFlexTitulo"><div class="tb_colprueba">id</div><div class="tb_colprueba">control_description</div><div class="tb_colprueba">control_question</div></div>
                </div>
                <div class="cajaTablas">
                    {% if lenConsulta > 1 %}

                    {% for ids in consulta %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{ids.id}}</div><div class="tb_colprueba">{{ids.control_description}}</div><div class="tb_colprueba">{{ids.control_question}}</div></div>
                    {% endfor %}
                    {% else %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{consulta.id}}</div><div class="tb_colprueba">{{consulta.control_description}}</div><div class="tb_colprueba">{{consulta.control_question}}</div></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- formulario para insertar datos -->
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="id">id</label>
                    <input style="width:100%;height:20px;" type="text" id="id" name="id" value="{{seleccion.id}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="control_description">control_description</label>
                    <input style="width:100%;height:20px;" type="text" id="control_description" name="control_description" value="{{seleccion.control_description}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="control_question">control_question</label>
                    <input style="width:100%;height:20px;" type="text" id="control_question" name="control_question" value="{{seleccion.control_question}}">
                </div>

                <div class="cajaInsertar1 cajaButton" >
                    <button class="btn btn-success btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}