{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/botones.css' %}" />


<head>
    <meta charset="UTF-8">
    <title>Practica</title>
    <link rel="shortcut icon" href="{% static '/images/logo_NTTCS_CF.jpg' %}" />
</head>
<body>
    <!-- Contenedor de la página  -->
    <div class="box wrapper">

        <!-- Logo NTT Control Framework -->
        <div class="logoGrande1">
            <img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.jpg' %}">
        </div>

        <!-- titulo  -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Practica</h1>
                </div>
            </div>
        </div>

        <!-- Logo de NTT DATA -->
        <div class="logoPequeno">
            <img class="ajustarImg" src="{% static '/images/logo_NTTData.jpg' %}">
        </div>

         <!-- vista del boton de modificar -->
        <div class="botonModificar">
            <form class="tablasModificarFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btnBorde btnTablas"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

         <!-- Seccion de busqueda -->
        <div class="tablasBusca">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div >
                    <input style="width:150%;height:20px;" type="text" id="busqueda" name="busqueda">
                </div>
                <div >
                    <button class="btnBorde btnTablas"  type="submit" value="">Buscar</button>
                </div>
            </form>
        </div>

        <!-- Boton eliminar -->
        <div class="botonEliminar">
            <div class="tablasEliminarFlex">
                <div >
                    <a class="btnBorde btnTablas" href="{% url 'EliminarDominios' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles
        <div class="tablasTablas">
            <div class="tabasFlex">

                <div class="cajaTablasTitulo" style="">
                    <div class="tabasTablaFlexTitulo">
                        <div class="tb_colprueba">Identifier</div>
                        <div class="tb_colprueba">Domain</div>
                        <div class="tb_colprueba">Security & Privacy (S|P) Principles</div>
                        <div class="tb_colprueba">Principle Intent</div>
                    </div>
                </div>

                <div class="cajaTablas">

                    {% if lenConsulta > 1 %}

                    {% for ids in consulta %}

                    <div class="tabasTablaFlex">

                        <div class="tb_colprueba">{{ids.identifier}}</div>
                        <div class="tb_colprueba">{{ids.domain}}</div>
                        <div class="tb_colprueba">{{ids.security_privacy_by_design_s_p_principles}}</div>
                        <div class="tb_colprueba">{{ids.principle_intent}}</div>

                    </div>
                    {% endfor %}

                    {% else %}
                    <div class="tabasTablaFlex">
                        <div class="tb_colprueba">{{consulta.identifier}}</div>
                        <div class="tb_colprueba">{{consulta.domain}}</div>
                        <div class="tb_colprueba">{{consulta.security_privacy_by_design_s_p_principles}}</div>
                        <div class="tb_colprueba">{{consulta.principle_intent}}</div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>

        <!-- formulario para insertar datos
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="identifier">identifier</label>
                    <input style="width:100%;height:20px;" type="text" id="identifier" name="identifier" value="{{seleccion.identifier}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="domain">domain</label>
                    <input style="width:100%;height:20px;" type="text" id="domain" name="domain" value="{{seleccion.domain}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="security_privacy_by_design_s_p_principles">security_privacy_by_design_s_p_principles</label>
                    <input style="width:100%;height:20px;" type="text" id="security_privacy_by_design_s_p_principles" name="security_privacy_by_design_s_p_principles" value="{{seleccion.security_privacy_by_design_s_p_principles}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="principle_intent">principle_intent</label>
                    <input style="width:100%;height:20px;" type="text" id="principle_intent" name="principle_intent" value="{{seleccion.principle_intent}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>

    </div>

    <!-- PAGINA INDEX ORIGINAL

    <!-- Contenedor de la página
    <div class="box wrapper">

        <!-- Logo NTT Control Framework
        <div class="logoGrande">
            <div class="logoGrandeFlex">
                <div class="logoGrandeCaja">
                    <img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.jpg' %}">
                </div>
            </div>
        </div>

        <!-- Logo de NTT DATA
        <div class="logoPequeno"><img class="ajustarImg"  src="{% static '/images/logo_NTTData.jpg' %}"></div>

        <!-- Caja de informacón
        <div class="informacion">
            <div class="cajaInformacion">
                <br>NTT Cybersecurity Control Framework
                <br>NTT DATA EMEAL Cybersecurity Services
                <br>Risk Managenent
            </div>
        </div>

        <!-- Section de logueo al sistema

        <div style="margin-top:5px;" class="loginNames">
            <h5>Usuario</h5>
            <h5>Contraseña</h5>
        </div>

        <div class="login">
            <form method="post">
                {% csrf_token %}
                <br>
                <br>
                <div><input style="height:23px;" class="redondearBordes" text="usuario" name="usuario"></div>
                <br>

                <div><input style="height:23px;" class="redondearBordes" type="password" text="pass" name="pass"></div>
                <br>

                <button class="btnBorde btnLogin"  type="submit">Entrar</button>

            </form>
        </div>
    </div>

    INSERTAR DATOS EVIDENCIAS
    <!-- INSERTAR DATOS
    <form class="" method="post">
        <span><h6>Insertar nuevo registro:</h6></span>
        {% csrf_token %}
        <div class="rowInsertar">
            <div class="cajaTripleInsertar">
                <label class="form-label" for="evidence_request_references">evidence_request_references:</label>
                <input class="form-control" type="text" id="evidence_request_references" name="evidence_request_references" value="{{seleccion.evidence_request_references}}">
            </div>
            <div class="cajaTripleInsertar">
                <label class="form-label" for="area_of_focus">area_of_focus:</label>
                <input class="form-control" type="text" id="area_of_focus" name="area_of_focus" value="{{seleccion.area_of_focus}}">
            </div>
            <div class="cajaTripleInsertar">
                <label class="form-label" for="artifact">artifact:</label>
                <input class="form-control" type="text" id="artifact" name="artifact" value="{{seleccion.artifact}}">
            </div>
        </div>

        <div class="rowInsertar2">
            <div class="cajaSmallInsertar">
                <label class="form-label" for="artifact_description">artifact_description:</label>
                <input class="form-control" type="text" id="artifact_description" name="artifact_description" value="{{seleccion.artifact_description}}">
            </div>
            <div class="cajaBigInsertar">
                <label class="form-label" for="control_mappings">control_mappings:</label>
                <textarea class="form-control" type="text" id="control_mappings" name="control_mappings" value="{{seleccion.control_mappings}}"></textarea>
            </div>
        </div>


        <div class="btnFlexMant mt-2" >
            <button class="btn btn-success"  type="submit">Insertar</button>
        </div>
    </form>

    NUEVO REGISTRO DE DOMINIOS
     <div class="row">
        <span><h6>Ingresar nuevo registro</h6></span>
        <form class="" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="identifier">Identifier:</label>
                    <input class="form-control" type="text" id="identifier" name="identifier" value="{{seleccion.identifier}}">
                </div>
                <div class="col-6">
                   <label class="form-label" for="domain">Domain:</label>
                   <input class="form-control" type="text" id="domain" name="domain" value="{{seleccion.domain}}">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="form-label" for="security_privacy_by_design_s_p_principles">security_privacy_by_design_s_p_principles:</label>
                    <textarea class="form-control" type="text" id="security_privacy_by_design_s_p_principles" name="security_privacy_by_design_s_p_principles" value="{{seleccion.security_privacy_by_design_s_p_principles}}"></textarea>
                </div>

                <div class="col-6">
                    <label class="form-label" for="principle_intent">Principle_intent:</label>
                    <textarea class="form-control" type="text" id="principle_intent" name="principle_intent" value="{{seleccion.principle_intent}}"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-2 mt-2">
                    <button class="btn btn-success form-control btn-block"  type="submit">Insertar</button>
                </div>
            </div>

        </form>
    </div>

    INSERTAR DATOS EN MARCOS EXISTENTES
    <!-- FILA DE ROW INSERTAR DATOS
        <div class="row rowCajasMantenimiento">
            <span><h6>Ingresar un nuevo registro:</h6></span>
            <form class="rowInsertar" method="post">
                {% csrf_token %}
                <div class="rowInsertMantMarcosExistentes">
                    <label class="form-label" for="marco_id">marco_id:</label>
                    <input class="form-control" type="text" id="marco_id" name="marco_id" value="{{seleccion.marco_id}}">
                </div>
                <div class="rowInsertMantMarcosExistentes">
                    <label class="form-label" for="nombre_tabla">table_name:</label>
                    <input class="form-control" type="text" id="nombre_tabla" name="nombre_tabla" value="{{seleccion.nombre_tabla}}">
                </div>
                <div class="btnFlexMant" style="justify-content:end;align-items:center;">
                    <button class="btn btn-success btn-block"  type="submit">Insertar</button>
                </div>
            </form>
        </div>


    INSERTAR NIVEL DE MADUREZ
      <!-- formulario para insertar datos
        <div class="row">

                <form class="" method="post">
                    <h5>Ingresar datos:</h5>
                    {% csrf_token %}
                    <div class="row rowInsertar">
                        <div class="col-4">
                            <label class="form-label" for="Ccmmcod">Ccmmcod:</label>
                            <input class="form-control" type="text" id="Ccmmcod" name="Ccmmcod" value="{{seleccion.ccmmcod}}">
                        </div>
                         <div class="col-4">
                            <label class="form-label" for="Sublevels">Sublevels:</label>
                            <input class="form-control" type="text" id="Sublevels" name="Sublevels" value="{{seleccion.sublevels}}">
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="Percentage">Percentage:</label>
                            <input class="form-control" type="text" id="Percentage" name="Percentage" value="{{seleccion.percentage}}">
                        </div>
                    </div>

                    <div class="row rowInsertar">
                         <div class="">
                            <label class="form-label" for="Description">Description:</label>
                            <!-- <input class="" type="text" id="Description" name="Description" value="{{seleccion.description}}">
                            <textarea class="form-control" name="comentarios" cols="auto" id="Description" name="Description" value="{{seleccion.description}}">Escribe aquí una descripción</textarea>
                         </div>
                    </div>


                    <div class="cajaButton mt-2" >
                        <button class="btn btn-success"  type="submit">Insertar</button>
                    </div>
                </form>


        </div>

    INSERT DATOS EN CONTROLES NTTCS

    <!-- INSERTAR DATOS NTTC CONTROL
    <form class="" method="post">
        <span><h6>Insertar nuevo registro:</h6></span>
        {% csrf_token %}
        <div class="rowInsertar">
            <div class="mr-2">
                <label class="form-label" for="domain">domain area:</label>
                <input class="form-control" type="text" id="domain" name="domain" value="{{seleccion.domain}}">
            </div>
            <div class="mr-2">
                <label class="form-label"  for="selected_y_n_field">area of focus:</label>
                <input class="form-control" type="text" id="selected_y_n_field" name="selected_y_n_field" value="{{seleccion.selected_y_n_field}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="control">control area:</label>
                <input class="form-control" type="text" id="control" name="control" value="{{seleccion.control}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="id">id focus area:</label>
                <input class="form-control" type="text" id="id" name="id" value="{{seleccion.id}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="control_description">control description:</label>
                <input class="form-control" type="text" id="control_description" name="control_description" value="{{seleccion.control_description}}">
            </div>
        </div>

        <div class="rowInsertar">
            <div class="mr-2">
                <label class="form-label" for="relative_control_weighting">relative control:</label>
                <input class="form-control" type="text" id="relative_control_weighting" name="relative_control_weighting" value="{{seleccion.relative_control_weighting}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="function_grouping">function grouping:</label>
                <input class="form-control" type="text" id="function_grouping" name="function_grouping" value="{{seleccion.function_grouping}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="assesed_result">assesed result:</label>
                <input class="form-control" type="text" id="assesed_result" name="assesed_result" value="{{seleccion.assesed_result}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="numeric_result">numeric result:</label>
                <input class="form-control" type="text" id="numeric_result" name="numeric_result" value="{{seleccion.numeric_result}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="weighted_numeric_result">weighted result:</label>
                <input class="form-control" type="text" id="weighted_numeric_result" name="weighted_numeric_result" value="{{seleccion.controlweighted_numeric_result_mappings}}">
            </div>
        </div>

        <div class="rowInsertar">
            <div class="mr-2">
                <label class="form-label" for="assessment_comments">assessment comments:</label>
                <input class="form-control" type="text" id="assessment_comments" name="assessment_comments" value="{{seleccion.assessment_comments}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="relative_result_by_function">result by function:</label>
                <input class="form-control" type="text" id="relative_result_by_function" name="relative_result_by_function" value="{{seleccion.relative_result_by_function}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="relative_result_by_domain">result by domain:</label>
                <input class="form-control" type="text" id="relative_result_by_domain" name="relative_result_by_domain" value="{{seleccion.relative_result_by_domain}}">
            </div>

            <div class="btnFlexMant" >
                <button class="btn btn-success btn-block"  type="submit">Insertar</button>
            </div>

            <div class="btnFlexMant"></div>
        </div>

     </form>


-->


</body>
</html>
