{% extends "base.html" %}

{% block titulo %} Mantenimiento Controles NTT {% endblock %}

{% block contenido %}

    <!-- Contenedor de la página  -->

    <!-- titulo  -->
    <div class="rowTitulo">
        <!-- Titulo con el nombre del assessment -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Controles NTTCS</h1>
        </div>
    </div>

    <div class="rowCajasMantenimiento">
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda">
                <button class="btn btn-outline-primary"  type="submit">Buscar</button>
            </div>
        </form>

        <form class="btnFlexMant" method="post" >
            {% csrf_token %}
            <button class="btn btn-warning btn-block"  type="submit">Modificar</button>
        </form>

        <div class="btnFlexMant">
            <a class="btn btn-danger btn-block" href="{% url 'EliminarControles' %}" >Eliminar</a>
        </div>
    </div>

    <!-- TABLA DE CONTENIDO -->

    <table class="table table-fixed">
        <thead>
            <tr>
                <th scope="col">Domain</th>
                <th scope="col">selected y n field</th>
                <th scope="col">control</th>
                <th scope="col">Description</th>
                <th scope="col">relative control weighting</th>
                <th scope="col">function grouping</th>
                <th scope="col">assesed result</th>
                <th scope="col">numeric result</th>
                <th scope="col">weighted numeric result</th>
                <th scope="col">assessment comments</th>
                <th scope="col">relative result by function</th>
                <th scope="col">relative result by domain</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if lenConsulta > 1 %}

            {% for ids in consulta %}
            <tr>
                <td>{{ids.domain}}</td>
                <td>{{ids.selected_y_n_field}}</td>
                <td>{{ids.control}}</td>
                <td>{{ids.control_description}}</td>
                <td>{{ids.relative_control_weighting}}</td>
                <td>{{ids.function_grouping}}</td>
                <td>{{ids.assesed_result}}</td>
                <td>{{ids.numeric_result}}</td>
                <td>{{ids.weighted_numeric_result}}</td>
                <td>{{ids.assessment_comments}}</td>
                <td>{{ids.relative_result_by_function}}</td>
                <td>{{ids.relative_result_by_domain}}</td>
                <td class="botonesTabla">
                    <button class="btn btn-warning btn-sm" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <a class="btn btn-danger btn-sm" title="Borrar" href="{% url 'EliminarMarcos' %}" >
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>{{domain.domain}}</td>
                <td>{{domain.selected_y_n_field}}</td>
                <td>{{domain.control}}</td>
                <td>{{domain.control_description}}</td>
                <td>{{domain.relative_control_weighting}}</td>
                <td>{{domain.function_grouping}}</td>
                <td>{{domain.assesed_result}}</td>
                <td>{{domain.numeric_result}}</td>
                <td>{{domain.weighted_numeric_result}}</td>
                <td>{{domain.assessment_comments}}</td>
                <td>{{domain.relative_result_by_function}}</td>
                <td>{{domain.relative_result_by_domain}}</td>
                <td class="botonesTabla">
                    <button class="btn btn-warning btn-sm" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <a class="btn btn-danger btn-sm" title="Borrar" href="{% url 'EliminarMarcos' %}" >
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- INSERTAR DATOS NTTC CONTROL -->
    <form class="" method="post">
        <span><h6>Insertar nuevo registro:</h6></span>
        {% csrf_token %}
        <div class="rowInsertar">
            <div class="mr-2">
                <label class="form-label" for="domain">domain area:</label>
                <input class="form-control" type="text" id="domain" name="domain" value="{{seleccion.domain}}">
            </div>
            <div class="mr-2">
                <label class="form-label"  for="selected_y_n_field">area of focus:</label>
                <input class="form-control" type="text" id="selected_y_n_field" name="selected_y_n_field" value="{{seleccion.selected_y_n_field}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="control">control area:</label>
                <input class="form-control" type="text" id="control" name="control" value="{{seleccion.control}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="id">id focus area:</label>
                <input class="form-control" type="text" id="id" name="id" value="{{seleccion.id}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="control_description">control description:</label>
                <input class="form-control" type="text" id="control_description" name="control_description" value="{{seleccion.control_description}}">
            </div>
        </div>

        <div class="rowInsertar">
            <div class="mr-2">
                <label class="form-label" for="relative_control_weighting">relative control:</label>
                <input class="form-control" type="text" id="relative_control_weighting" name="relative_control_weighting" value="{{seleccion.relative_control_weighting}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="function_grouping">function grouping:</label>
                <input class="form-control" type="text" id="function_grouping" name="function_grouping" value="{{seleccion.function_grouping}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="assesed_result">assesed result:</label>
                <input class="form-control" type="text" id="assesed_result" name="assesed_result" value="{{seleccion.assesed_result}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="numeric_result">numeric result:</label>
                <input class="form-control" type="text" id="numeric_result" name="numeric_result" value="{{seleccion.numeric_result}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="weighted_numeric_result">weighted result:</label>
                <input class="form-control" type="text" id="weighted_numeric_result" name="weighted_numeric_result" value="{{seleccion.controlweighted_numeric_result_mappings}}">
            </div>
        </div>

        <div class="rowInsertar">
            <div class="mr-2">
                <label class="form-label" for="assessment_comments">assessment comments:</label>
                <input class="form-control" type="text" id="assessment_comments" name="assessment_comments" value="{{seleccion.assessment_comments}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="relative_result_by_function">result by function:</label>
                <input class="form-control" type="text" id="relative_result_by_function" name="relative_result_by_function" value="{{seleccion.relative_result_by_function}}">
            </div>
            <div class="mr-2">
                <label class="form-label" for="relative_result_by_domain">result by domain:</label>
                <input class="form-control" type="text" id="relative_result_by_domain" name="relative_result_by_domain" value="{{seleccion.relative_result_by_domain}}">
            </div>

            <div class="btnFlexMant" >
                <button class="btn btn-success btn-block"  type="submit">Insertar</button>
            </div>

            <div class="btnFlexMant"></div>
        </div>

     </form>



        <!-- COPIA ORIGINAL
        <!-- vista del boton de modificar
        <div class="botonModificar">
            <form class="tablasBtnFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btn btn-warning"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

        <!-- Seccion de busqueda
        <div class="tablasBusca">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div class="buscarMantenimiento">
                    <div >
                        <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda">
                    </div>
                    <div >
                        <button class="btn btn-primary"  type="submit">Buscar</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Boton eliminar
        <div class="botonEliminar">
            <div class="tablasBtnFlex">
                <div >
                    <a class="btn btn-danger" href="{% url 'EliminarControles' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles
        <div class="tablasTablas">
            <div class="tabasFlex">
                <div class="cajaTablasTitulo">
                    <div class="tabasTablaFlexTitulo"><div class="tb_colprueba">Domain</div><div class="tb_colprueba">selected y n field</div><div class="tb_colprueba">control</div><div class="tb_colprueba">id</div><div class="tb_colprueba">control description</div><div class="tb_colprueba">relative control weighting</div><div class="tb_colprueba">function grouping</div><div class="tb_colprueba">assesed result</div><div class="tb_colprueba">numeric result</div><div class="tb_colprueba">weighted numeric result</div><div class="tb_colprueba">assessment comments</div><div class="tb_colprueba">relative result by function</div><div class="tb_colprueba">relative result by domain</div></div>
                </div>
                <div class="cajaTablas">
                    {% if lenConsulta > 1 %}

                    {% for ids in consulta %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{ids.domain}}</div><div class="tb_colprueba">{{ids.selected_y_n_field}}</div><div class="tb_colprueba">{{ids.control}}</div><div class="tb_colprueba">{{ids.id}}</div> <div class="tb_colprueba">{{ids.control_description}}</div><div class="tb_colprueba">{{ids.relative_control_weighting}}</div><div class="tb_colprueba">{{ids.function_grouping}}</div><div class="tb_colprueba">{{ids.assesed_result}}</div><div class="tb_colprueba">{{ids.numeric_result}}</div><div class="tb_colprueba">{{ids.weighted_numeric_result}}</div><div class="tb_colprueba">{{ids.assessment_comments}}</div><div class="tb_colprueba">{{ids.relative_result_by_function}}</div><div class="tb_colprueba">{{ids.relative_result_by_domain}}</div></div>
                    {% endfor %}
                    {% else %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{consulta.domain}}</div><div class="tb_colprueba">{{consulta.selected_y_n_field}}</div><div class="tb_colprueba">{{consulta.control}}</div><div class="tb_colprueba">{{consulta.id}}</div><div class="tb_colprueba">{{consulta.control_description}}</div><div class="tb_colprueba">{{consulta.relative_control_weighting}}</div><div class="tb_colprueba">{{consulta.function_grouping}}</div><div class="tb_colprueba">{{consulta.assesed_result}}</div><div class="tb_colprueba">{{consulta.numeric_result}}</div><div class="tb_colprueba">{{consulta.weighted_numeric_result}}</div><div class="tb_colprueba">{{consulta.assessment_comments}}</div><div class="tb_colprueba">{{consulta.relative_result_by_function}}</div><div class="tb_colprueba">{{consulta.relative_result_by_domain}}</div></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- formulario para insertar datos
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="domain">domain area</label>
                    <input class="tb_colprueba" type="text" id="domain" name="domain" value="{{seleccion.domain}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="selected_y_n_field">area of focus</label>
                    <input class="tb_colprueba" type="text" id="selected_y_n_field" name="selected_y_n_field" value="{{seleccion.selected_y_n_field}}">
                </div>
                <div class="cajaInsertar1" style="bottom:0px;">
                    <label for="control">control area</label>
                    <input class="tb_colprueba" type="text" id="control" name="control" value="{{seleccion.control}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="id">id focus area</label>
                    <input class="tb_colprueba" type="text" id="id" name="id" value="{{seleccion.id}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="control_description">control description</label>
                    <input class="tb_colprueba" type="text" id="control_description" name="control_description" value="{{seleccion.control_description}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="relative_control_weighting">relative control</label>
                    <input class="tb_colprueba" type="text" id="relative_control_weighting" name="relative_control_weighting" value="{{seleccion.relative_control_weighting}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="function_grouping">function grouping</label>
                    <input class="tb_colprueba" type="text" id="function_grouping" name="function_grouping" value="{{seleccion.function_grouping}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="assesed_result">assesed result</label>
                    <input class="tb_colprueba" type="text" id="assesed_result" name="assesed_result" value="{{seleccion.assesed_result}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="numeric_result">numeric result</label>
                    <input class="tb_colprueba" type="text" id="numeric_result" name="numeric_result" value="{{seleccion.numeric_result}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="weighted_numeric_result">weighted result</label>
                    <input class="tb_colprueba" type="text" id="weighted_numeric_result" name="weighted_numeric_result" value="{{seleccion.controlweighted_numeric_result_mappings}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="assessment_comments">assessment comments</label>
                    <input class="tb_colprueba" type="text" id="assessment_comments" name="assessment_comments" value="{{seleccion.assessment_comments}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="relative_result_by_function">result by function</label>
                    <input class="tb_colprueba" type="text" id="relative_result_by_function" name="relative_result_by_function" value="{{seleccion.relative_result_by_function}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="relative_result_by_domain">result by domain</label>
                    <input class="tb_colprueba" type="text" id="relative_result_by_domain" name="relative_result_by_domain" value="{{seleccion.relative_result_by_domain}}">
                </div>

                <div class="cajaInsertar1 cajaButton" >
                    <button class="btn btn-success btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>
    -->


{% endblock %}
