{% extends "base.html" %}

{% block titulo %} Dominios jose practica {% endblock %}

{% block contenido %}




    <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre de nivel de madurez -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Dominios Pruebas</h1>
        </div>
    </div>

    <div class="rowCajasMantenimiento">
        <!-- caja para el input de busqueda -->
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <a href="Ejemplo" class="btn btn-primary"></a>
                <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda" onkeyup="doSearch()">
            </div>
        </form>
    </div>

    <!-- tabla de contenido de los controles  -->
    <table class="table table-fixed" id="datatable">
         <!-- header de la tabla -->
        <thead>
            <tr>
                <th scope="col">Identifier</th>
                <th scope="col">Domain</th>
                <th scope="col">Security & Privacy</th>
                <th scope="col">Principle Intent</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        <!-- creacion de fila para insertar datos -->
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input type="text" name="identifier"></td>
                    <td><input type="text" name="domain"></td>
                    <td><input type="text" name="security"></td>
                    <td><input type="text" name="principle_intent"></td>
                    <td>
                        <button class="btn btn-success btn-sm" name="insertar">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </td>

                </form>
            </tr>

            <!-- muestra el contenido de la tabla -->
            {% for ids in ejemplo_list %}
            <tr>
                <form method="post">
                    {% csrf_token %}

                    <td><input type="text" name="identifier" value="{{ids.identifier}}" readonly></td>
                    <td><input type="text" name="domain" value="{{ids.domain}}"></td>
                    <td><input type="text" name="security" value="{{ids.security_privacy_by_design_s_p_principles}}"></td>
                    <td><input type="text" name="principle_intent" value="{{ids.principle_intent}}"></td>
                    <td>
                        <button class="btn btn-warning btn-sm" name="modificar" id="modificar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" name="eliminar" id="eliminar">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>

                </form>
            </tr>

            {% endfor %}

        </tbody>
    </table>


{% endblock %}

