{% extends "base.html" %}

{% block titulo %} Mapeo Marcos {% endblock %}

{% block contenido %}
    <!-- Contenedor de la página  -->
    <div class="wrapper2">


        <!-- titulo  -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Mapeo de Marcos</h1>
                </div>
            </div>
        </div>


        <!-- seleccion de controls BTT para mostrar en pantalla -->
        <div class="selectorTablasMapeo">

            <div class="selectorTablasFlexMapeo">
                <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                    {% csrf_token %}

                    <label for="selectorMapeo">NTT Controles</label>
                    <select class="selectStyleAssessmentMapeo" id="selectorMapeo" name="selectorMapeo">
                    {% for ids in assess %}
                    <option value="{{ids.marco_id}}">{{ids.marco_id}}</option>
                    {% endfor %}
                    </select>
                    <div >
                        <button class="btn btn-info"  type="submit" name="boton1" value="btn1">Mostrar</button>
                    </div>
                </form>
            </div>

        </div>

        <!-- vista del boton de modificar -->
        <div class="botonModificarMapeo">
            <form class="tablasModificarFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btn btn-warning btnTablas"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

        <!-- bloque formulario busqueda de controles NTT -->
        <div class="tablasBuscaMapeo">
            <form class="tablasBuscaFlex" method="post" >
                {% csrf_token %}
                <div >
                    <input style="width:150%;height:20px;" type="text" id="busqueda" name="busqueda">
                </div>
                <div >
                    <button class="btn btn-primary"  type="submit">Buscar</button>
                </div>
            </form>
        </div>

        <!-- Boton eliminar -->
        <div class="botonEliminarMapeo">
            <div class="tablasEliminarFlex">
                <div >
                    <a class="btn btn-danger btnBorde btnTablas" href="{% url 'EliminarMapeo' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles -->
        <div class="tablasTablas2">
            <div class="tabasFlex">
                <div class="cajaTablasTitulo">
                    <div class="tabasTablaFlexTitulo"><div class="tb_colprueba">NTT DATA ID</div><div class="tb_colprueba">Marco referencia</div><div class="tb_colprueba"> ID </div></div>
                </div>
                <div class="cajaTablas">
                    {% for ids in consulta %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{ids.0}}</div><div class="tb_colprueba">{{ids.1}}</div><div class="tb_colprueba">{{ids.2}}</div></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- formulario para ingreso de datos -->
        <div class="tablasInsertar2">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="marco_id">NTT DATA ID</label>
                    <input style="width:100%;height:20px;" type="text" id="marco_id" name="marco_id" value="{{seleccion.0}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="nombre_tabla">Marco de referencia</label>
                    <input style="width:100%;height:20px;" type="text" id="nombre_tabla" name="nombre_tabla" value="{{seleccion.1}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="id">id</label>
                    <input style="width:100%;height:20px;" type="text" id="id" name="id" value="{{seleccion.2}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btnBorde btnTablas2"  type="submit" id="insertarMapeo" name="insertarMapeo">Insertar</button>
                </div>
            </form>
        </div>

    </div>

{% endblock %}