{% extends "base.html" %}

{% block titulo %} Mapeo Marcos {% endblock %}

{% block contenido %}



    <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre mapeo de marcos -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Mapeo de Marcos</h1>
        </div>
    </div>

    <!-- SELECTOR TABLAS MAPEO -->
    <div class="">
        <!-- Formulario para la seleccion de marcos -->
        <form class="rowCajasMantenimiento " method="post">
            <!-- etiqueta del selector -->
            {% csrf_token %}
            <div class="cajalabelMantenimiento">
                <label style="font-size:1vw; padding:3%;" class="input-group-text " for="selector" >NTT Controles: </label>
            </div>
            <!-- caja del selector -->
            <div class="cajaSelectorMantenimiento">
                <select  class="selectpicker" data-width="100%" aria-label="Default select example" data-live-search="true"  onchange="this.form.submit()"  id="selector" name="selector" >
                    <option selected value="None">--- No Seleccionado ---</option>
                    {% for ids in assess %}
                    {% if ids.marco_id == marcoSeleccionado %}
                    <option selected value="{{ids.marco_id}}">{{ids.marco_id}}</option>
                    {% else %}
                    <option value="{{ids.marco_id}}">{{ids.marco_id}}</option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    {% if seleccionado %}
    <!-- BOTONES DE BUSCAR, MODIFICAR Y ELIMINAR -->
    <div class="rowCajasMantenimiento">
        <form class="cajaInputBuscar" method="post" >
            {% csrf_token %}
                <input class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" id="busqueda" name="busqueda" placeholder="Buscar ..." onkeyup="doSearch()">
        </form>
    </div>

    <!-- TABLA DE CONTENIDO MANTENIMIENTO MAPEO DE MARCOS -->
    <table class="table table-fixed" id="datos">
        <!-- header de la tabla -->
        <thead>
            <tr>
                <th scope="col">NTT DATA ID</th>
                <th scope="col">Marco referencia</th>
                <th scope="col">ID</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <!-- cuerpo de la tabla -->
        <tbody>
            <!-- creacion de fila para insertar datos -->
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input class="inputTabas" type="text"  name="ntt_id" placeholder="inserte control Ntt" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text"  name="marco" placeholder="inserte marco referencia" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text"  name="id" disabled ></td>
                    <td class="botonesTabla">
                        <button class="btn btn-success btn-sm" title="Guardar" id="insertar" name="insertar">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </td>
                </form>
            </tr>
            <!-- muestra el contenido de la tabla -->
            {% for ids in consulta %}
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input class="inputTabas" type="text" value="{{ids.0}}" name="ntt_id" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.1}}" name="marco" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.2}}" name="id" readonly ></td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar" id="modificar" name="modificar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Borrar" id="eliminar" name="eliminar">
                            <i class="bi bi-trash3"></i>
                        </button>

                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}


{% endblock %}