{% extends "base.html" %}

{% block titulo %} Mantenimiento Marcos Existentes {% endblock %}

{% block contenido %}
    <!-- Contenedor del contenido -->
    <div class="box wrapper">


        <!-- Titulo de la página -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Mantenimiento Marcos Existentes</h1>
                </div>
            </div>
        </div>



        <!-- Boton modificar -->
        <div class="botonModificar">
            <form class="tablasModificarFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btnBorde btnTablas"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

        <!-- Seccion de busqueda -->
        <div class="tablasBusca">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div >
                    <input style="width:150%;height:20px;" type="text" id="busqueda" name="busqueda">
                </div>
                <div >
                    <button class="btnBorde btnTablas"  type="submit">Buscar</button>
                </div>
            </form>
        </div>

        <!-- Boton eliminar -->
        <div class="botonEliminar">
            <div class="tablasEliminarFlex">
                <div >
                    <a class="btnBorde btnTablas" href="{% url 'EliminarMarcos' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles  -->
        <div class="tablasTablas">
            <div class="tabasFlex">
                <div class="cajaTablasTitulo">
                    <div class="tabasTablaFlexTitulo"><div class="tb_colprueba">marco ID</div><div class="tb_colprueba">Nombre tabla</div></div>
                </div>
                <div class="cajaTablas">
                    {% if lenConsulta > 1 %}

                    {% for ids in consulta %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{ids.marco_id}}</div><div class="tb_colprueba">{{ids.nombre_tabla}}</div></div>
                    {% endfor %}
                    {% else %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{consulta.marco_id}}</div><div class="tb_colprueba">{{consulta.nombre_tabla}}</div></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- formulario para insertar datos -->
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="marco_id">marco_id</label>
                    <input style="width:100%;height:20px;" type="text" id="marco_id" name="marco_id" value="{{seleccion.marco_id}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="nombre_tabla">table_name</label>
                    <input style="width:100%;height:20px;" type="text" id="nombre_tabla" name="nombre_tabla" value="{{seleccion.nombre_tabla}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}