{% extends "base.html" %}

{% block titulo %} Manteniemto Dominios {% endblock %}

{% block contenido %}


    <!-- Contenedor de la página  -->



    <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre de dominios -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Dominios</h1>
        </div>
    </div>

    <!-- div de input buscar -->
    <div class="rowCajasMantenimiento">
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                 <input class="form-control" placeholder="Buscar ..."  id="busqueda" name="busqueda" onkeyup="doSearch()">
            </div>
        </form>
    </div>

    <!-- INSERTAR DATOS -->
    <!-- tabla de contenido -->
    <table class="table table-fixed" id="datos">
        <!-- header de la tabla -->
        <thead>
            <form action="post">
                <tr scope="rowgroup">
                    <th>Identifier</th>
                    <th>Domain</th>
                    <th>Security & Privacy by Design (S|P) Principles</th>
                    <th>Principle Intent</th>
                    <th>Acciones</th>
                </tr>
            </form>

        </thead>
        <!-- cuerpo de la tabla -->
        <tbody>
            <!-- creacion de fila para insertar datos -->
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input class="inputTabas" type="text" name="identifier" placeholder="Insert identifier" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text" name="domain" placeholder="Insert domain" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text" name="security_privacy_by_design_s_p_principles" placeholder="Insert security & privacy" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="principle_intent" placeholder="insert principle_intent" autocomplete="false"></td>
                    <td class="botonesTabla">
                        <button class="btn btn-success btn-sm" title="Guardar" id="insertar" name="insertar">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </td>
                </form>
            </tr>

            <!-- muestra el contenido de la tabla -->
            {% for ids in consulta %}
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input class="inputTabas" type="text" value="{{ids.identifier}}" name="identifier" readonly></td>
                    <td><textarea class="inputTabas" type="text" rows="6" value="{{ids.domain}}" name="domain" >{{ids.domain}}</textarea></td>
                    <td><textarea class="inputTabas" type="text" rows="6" value="{{ids.security_privacy_by_design_s_p_principles}}" name="security_privacy_by_design_s_p_principles" >{{ids.security_privacy_by_design_s_p_principles}}</textarea></td>
                    <td><textarea class="inputTabas" type="text" rows="6" value="{{ids.principle_intent}}" name="principle_intent" >{{ids.principle_intent}}</textarea></td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar" id="modificar" name="modificar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Borrar" id="eliminar" name="eliminar">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </form>

            </tr>
            {% endfor %}

        </tbody>
    </table>


{% endblock %}

