{% extends "base.html" %}

{% block titulo %} Mant Nivel de Madurez {% endblock %}

{% block contenido %}



    <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre del assessment -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Nivel de Madurez</h1>
        </div>
    </div>

    <div class="rowCajasMantenimiento">

        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda" onkeyup="doSearch()">

            </div>
        </form>
    </div>

        <!-- tabla de contenido de los controles  -->
        <table class="table table-bordered table-fixed">
            <thead>
                <tr>
                    <th scope="col">Ccmmcod</th>
                    <th scope="col">Description</th>
                    <th scope="col">Sublevels</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="post">
                        {% csrf_token %}
                        <td><input class="inputTabas" type="text" name="ccmmcod" placeholder="Insert ccmmcod" autocomplete="false" ></td>
                        <td><input class="inputTabas" type="text" name="description" placeholder="Insert description" autocomplete="false" ></td>
                        <td><input class="inputTabas" type="text" name="sublevels" placeholder="Insert sublevels" autocomplete="false"></td>
                        <td><input class="inputTabas" type="text" name="percentage" placeholder="insert percentage" autocomplete="false"></td>

                        <td class="botonesTabla">
                            <button class="btn btn-success btn-sm" title="Guardar" id="insertar" name="insertar">
                                <i class="bi bi-check2-square"></i>
                            </button>
                        </td>
                    </form>
                </tr>

                {% for ids in consulta %}
                <tr>
                    <td>{{ids.ccmmcod}}</td>
                    <td>{{ids.description}}</td>
                    <td>{{ids.sublevels}}</td>
                    <td>{{ids.percentage}}</td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar" id="modificar" name="modificar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Borrar" id="eliminar" name="eliminar">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>








        <!-- formulario para insertar datos COPIA ORIGINAL
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="Ccmmcod">Ccmmcod</label>
                    <input style="width:100%;height:20px;" type="text" id="Ccmmcod" name="Ccmmcod" value="{{seleccion.ccmmcod}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="Description">Description</label>
                    <input style="width:100%;height:20px;" type="text" id="Description" name="Description" value="{{seleccion.description}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="Sublevels">Sublevels</label>
                    <input style="width:100%;height:20px;" type="text" id="Sublevels" name="Sublevels" value="{{seleccion.sublevels}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="Percentage">Percentage</label>
                    <input style="width:100%;height:20px;" type="text" id="Percentage" name="Percentage" value="{{seleccion.percentage}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>
        -->



{% endblock %}
