{% extends "base.html" %}

{% block titulo %} Mant Nivel de Madurez {% endblock %}

{% block contenido %}



    <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre de nivel de madurez -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Nivel de Madurez</h1>
        </div>
    </div>

    <div class="rowCajasMantenimiento">
        <!-- caja para el input de busqueda -->
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda" onkeyup="doSearch()">
            </div>
        </form>
    </div>

        <!-- tabla de contenido de los controles  -->
        <table class="table table-fixed" id="datos">
             <!-- header de la tabla -->
            <thead>
                <tr>
                    <th scope="col">Ccmmcod</th>
                    <th scope="col">Description</th>
                    <th scope="col">Sublevels</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
            <!-- creacion de fila para insertar datos -->
                <tr>
                    <form method="post">
                        {% csrf_token %}
                        <td><input class="inputTabas" type="text" name="Ccmmcod" placeholder="Insert ccmmcod" autocomplete="false" ></td>
                        <td><input class="inputTabas" type="text" name="Description" placeholder="Insert description" autocomplete="false" ></td>
                        <td><input class="inputTabas" type="text" name="Sublevels" placeholder="Insert sublevels" autocomplete="false"></td>
                        <td><input class="inputTabas" type="text" name="Percentage" placeholder="insert percentage" autocomplete="false"></td>

                        <td class="botonesTabla">
                            <button class="btn btn-success btn-sm" title="Guardar" id="insertar" name="insertar">
                                <i class="bi bi-check2-square"></i>
                            </button>
                        </td>
                    </form>
                </tr>

                <!-- muestra el contenido de la tabla -->
                {% for ids in consulta %}
                <tr>
                    <form method="post">
                        {% csrf_token %}
                        <td><input class="inputTabas" type="text" value="{{ids.ccmmcod}}" name="Ccmmcod" ></td>
                        <td><input class="inputTabas" type="text" value="{{ids.description}}" name="Description" ></td>
                        <td><input class="inputTabas" type="text" value="{{ids.sublevels}}" name="Sublevels" ></td>
                        <td><input class="inputTabas" type="text" value="{{ids.percentage}}" name="Percentage" ></td>
                        <td class="botonesTabla">
                            <button class="btn btn-warning btn-sm" title="Editar" id="modificar" name="modificar">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" title="Borrar" id="eliminar" name="eliminar">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </form>
                </tr>

                {% endfor %}

            </tbody>
        </table>


{% endblock %}
