{% extends "base.html" %}

{% block titulo %} Dominios jose practica {% endblock %}

{% block contenido %}


<!--{% for ids in consulta %}
            <tr>
                <form method="post">
                    {% csrf_token %}
                    <td><input class="inputTabas" type="text" value="{{ids.domain}}" name="domain" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.selected_y_n_field}}" name="selected_y_n_field" ></td>
                    <td><textarea class="inputTabas" style="width:150px;" rows="5" type="text" value="{{ids.control}}" name="control" >{{ids.control}}</textarea></td>
                    <td><input class="inputTabas" type="text" value="{{ids.id}}" name="id" ></td>
                    <td><textarea class="inputTabas" style="width:150px;" rows="5" type="text" value="{{ids.control_description}}" name="control_description" >{{ids.control_description}}</textarea></td>
                    <td><input class="inputTabas" type="text" value="{{ids.relative_control_weighting}}" name="relative_control_weighting"></td>
                    <td><input class="inputTabas" type="text" value="{{ids.function_grouping}}" name="function_grouping" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.assesed_result}}" name="assesed_result" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.numeric_result}}" name="numeric_result" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.weighted_numeric_result}}" name="weighted_numeric_result"></td>
                    <td><input class="inputTabas" type="text" value="{{ids.assessment_comments}}" name="assessment_comments" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.relative_result_by_function}}" name="relative_result_by_function" ></td>
                    <td><input class="inputTabas" type="text" value="{{ids.relative_result_by_domain}}" name="relative_result_by_domain" ></td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar" id="modificar" name="modificar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Borrar" id="eliminar" name="eliminar">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </form>
            </tr>
            {% endfor %}-->
    <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre de nivel de madurez -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Dominios Pruebas</h1>
        </div>
    </div>

    <div class="rowCajasMantenimiento">
        <!-- caja para el input de busqueda -->
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <a href="Ejemplo" class="btn btn-primary"></a>
                <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda" onkeyup="doSearch()">
            </div>
        </form>
    </div>

    <!-- tabla de contenido de los controles  -->
    <table class="table table-fixed" id="tabla_dominios2">
         <!-- header de la tabla -->
        <thead>
            <tr>
                <th scope="col">Identifier</th>
                <th scope="col">Domain</th>
                <th scope="col">Security & Privacy</th>
                <th scope="col">Principle Intent</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="tableDominios">
        <!-- creacion de fila para insertar datos -->
            <tr>

                    {% csrf_token %}
                    <td><input type="text" name="identifier"></td>
                    <td><input type="text" name="domain"></td>
                    <td><input type="text" name="security"></td>
                    <td><input type="text" name="principle_intent"></td>
                    <td>
                        <button class="btn btn-success btn-sm" name="insertar">
                                <i class="bi bi-check2-square"></i>
                        </button>
                    </td>


            </tr>

            <!-- muestra el contenido de la tabla -->
            {% for ids in dominios %}
            <tr>
                <form method="post">
                    {% csrf_token %}

                    <td><input type="text" name="identifier" value="{{ids.identifier}}" readonly></td>
                    <td><input type="text" name="domain" value="{{ids.domain}}"></td>
                    <td><input type="text" name="security" value="{{ids.security_privacy_by_design_s_p_principles}}"></td>
                    <td><input type="text" name="principle_intent" value="{{ids.principle_intent}}"></td>
                    <td>
                        <a href="/editar/">
                            <button class="btn btn-warning btn-sm" name="modificar" id="modificar">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </a>

                        <a href="/eliminar/">
                            <button class="btn btn-danger btn-sm" name="eliminar" id="eliminar">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </a>

                    </td>

                </form>
            </tr>

            {% endfor %}

        </tbody>
    </table>


{% endblock %}

