{% extends "base.html" %}

{% block titulo %} Manteniemto Dominios {% endblock %}

{% block contenido %}


    <!-- Contenedor de la página  -->



              <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre del assessment -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Dominios</h1>
        </div>
    </div>

    <div class="rowCajasMantenimiento">
        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                 <input class="form-control" placeholder="Buscar ..."  id="busqueda" name="busqueda" onkeyup="doSearch()">
            </div>
        </form>
    </div>

    <!-- INSERTAR DATOS -->

    <table class="table table-fixed">
        <thead>
            <form action="post">
                <tr scope="rowgroup">
                    <th>Identifier</th>
                    <th>Domain</th>
                    <th>Security & Privacy by Design (S|P) Principles</th>
                    <th>Principle Intent</th>
                    <th>Acciones</th>
                </tr>
            </form>

        </thead>
        <tbody>
            <form action="post">
                <tr>
                    {% csrf_token %}
                    <td><input class="inputTabas" type="text" name="identifier" placeholder="Insert identifier" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text" name="domain" placeholder="Insert domain" autocomplete="false" ></td>
                    <td><input class="inputTabas" type="text" name="security" placeholder="Insert security & privacy" autocomplete="false"></td>
                    <td><input class="inputTabas" type="text" name="principle_intent" placeholder="insert principle_intent" autocomplete="false"></td>
                    <td class="botonesTabla">
                        <button class="btn btn-success btn-sm" title="Guardar" id="insertar" name="insertar">
                            <i class="bi bi-check2-square"></i>
                        </button>
                    </td>
                </tr>
            </form>

            {% for ids in consulta %}
            <tr>
                <form action="post">
                    <td>{{ids.identifier}}</td>
                    <td>{{ids.domain}}</td>
                    <td>{{ids.security_privacy_by_design_s_p_principles}}</td>
                    <td>{{ids.principle_intent}}</td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar" id="modificar" name="modificar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" title="Borrar" id="eliminar" name="eliminar">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </form>

            </tr>
            {% endfor %}

        </tbody>
    </table>





        <!-- COPIA DEL ORIGINAL
         <!-- vista del boton de modificar
        <div class="botonModificar">
            <form class="tablasBtnFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btn btn-warning"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

         <!-- Seccion de busqueda
        <div class="tablasBusca">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div class="buscarMantenimiento">
                     <div >
                        <input class="form-control" placeholder="Búsqueda ..."  id="busqueda" name="busqueda">
                     </div>
                     <div >
                        <button class="btn btn-primary"  type="submit">Buscar</button>
                     </div>
                </div>
           </form>
        </div>

        <!-- Boton eliminar
        <div class="botonEliminar">
            <div class="tablasBtnFlex">
                <div >
                    <a class="btn btn-danger" href="{% url 'EliminarDominios' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles
        <div class="tablasTablas">
            <div class="tabasFlex">
                <div class="cajaTablasTitulo" style="">
                    <div class="tabasTablaFlexTitulo"><div class="tb_colprueba">Identifier</div><div class="tb_colprueba">Domain</div><div class="tb_colprueba">Security & Privacy by Design (S|P) Principles</div><div class="tb_colprueba">Principle Intent</div></div>
                </div>
                <div class="cajaTablas">
                    {% if lenConsulta > 1 %}

                    {% for ids in consulta %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{ids.identifier}}</div><div class="tb_colprueba">{{ids.domain}}</div><div class="tb_colprueba">{{ids.security_privacy_by_design_s_p_principles}}</div><div class="tb_colprueba">{{ids.principle_intent}}</div></div>
                    {% endfor %}
                    {% else %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{consulta.identifier}}</div><div class="tb_colprueba">{{consulta.domain}}</div><div class="tb_colprueba">{{consulta.security_privacy_by_design_s_p_principles}}</div><div class="tb_colprueba">{{consulta.principle_intent}}</div></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- formulario para insertar datos
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="identifier">identifier</label>
                    <input style="width:100%;height:20px;" type="text" id="identifier" name="identifier" value="{{seleccion.identifier}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="domain">domain</label>
                    <input style="width:100%;height:20px;" type="text" id="domain" name="domain" value="{{seleccion.domain}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="security_privacy_by_design_s_p_principles">security_privacy_by_design_s_p_principles</label>
                    <input style="width:100%;height:20px;" type="text" id="security_privacy_by_design_s_p_principles" name="security_privacy_by_design_s_p_principles" value="{{seleccion.security_privacy_by_design_s_p_principles}}">
                </div>
                <div class="cajaInsertar1">
          <          <label for="principle_intent">principle_intent</label>
                    <input style="width:100%;height:20px;" type="text" id="principle_intent" name="principle_intent" value="{{seleccion.principle_intent}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btn btn-success"  type="submit">Insertar</button>
                </div>
            </form>
        </div>>

    </div>-->

{% endblock %}

