{% extends "base.html" %}

{% block titulo %} Mantenimiento Marcos Existentes {% endblock %}

{% block contenido %}
    <!-- Contenedor del contenido -->



        <!-- Titulo de la página -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Mantenimiento Marcos Existentes</h1>
                </div>
            </div>
        </div>

        <!-- BOTONES BUSQUEDA MODIFICAR Y ELIMINAR -->
        <div class="rowCajasMantenimiento">
            <form class="cajaBuscar"  method="post" id="busquedaForm">
                {% csrf_token %}
                <div class="cajaInputBuscar input-group">
                    <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda">
                    <button class="btn btn-outline-primary"  type="submit">Buscar</button>
                 </div>
            </form>

            <form class="btnFlexMant" method="post" >
                {% csrf_token %}
                <button class="btn btn-warning btn-block" type="submit">Modificar</button>
            </form>
            <div class="btnFlexMant" >
                <a class="btn btn-danger btn-block" href="{% url 'EliminarMarcos' %}" >Eliminar</a>
            </div>
       </div>

        <!-- FILA DE ROW INSERTAR DATOS -->
        <div class="row rowCajasMantenimiento">
            <span><h6>Ingresar un nuevo registro:</h6></span>
            <form class="rowInsertar" method="post">
                {% csrf_token %}
                <div class="rowInsertMantMarcosExistentes">
                    <label class="form-label" for="marco_id">marco_id:</label>
                    <input class="form-control" type="text" id="marco_id" name="marco_id" value="{{seleccion.marco_id}}">
                </div>
                <div class="rowInsertMantMarcosExistentes">
                    <label class="form-label" for="nombre_tabla">table_name:</label>
                    <input class="form-control" type="text" id="nombre_tabla" name="nombre_tabla" value="{{seleccion.nombre_tabla}}">
                </div>
                <div class="btnFlexMant" style="justify-content:end;align-items:center;">
                    <button class="btn btn-success btn-block"  type="submit">Insertar</button>
                </div>
            </form>
        </div>


         <!-- TABLA DE CONTENIDO  -->
        <table class="table table-fixed">
            <thead>
                <tr scope="rowgroup">
                    <th>Marco ID</th>
                    <th>Nombre tabla</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if lenConsulta > 1 %}
                {% for ids in consulta %}
                <tr>
                    <td>{{ids.marco_id}}</td>
                    <td>{{ids.nombre_tabla}}</td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <a class="btn btn-danger btn-sm" title="Borrar" href="{% url 'EliminarMarcos' %}" >
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                 <tr>
                    <td>{{consulta.marco_id}}</td>
                    <td>{{consulta.nombre_tabla}}</td>
                     <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <a class="btn btn-danger btn-sm" title="Borrar" href="{% url 'EliminarMarcos' %}" >
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
















{% endblock %}