{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento</title>
    <link rel="shortcut icon" href="{% static '/images/logo_NTTCS_CF.png' %}" />
</head>
<body>
    <div class="box wrapper">
        <div class="logoGrande1"><img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.png' %}"></div>
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1 class="">Mantenimiento de tablas</h1>
                </div>
            </div>

        </div>
        <div class="logoPequeno"><img class="ajustarImg" src="{% static '/images/logo_NTTData.jpg' %}"></div>
        <div class="informacionyy">
            
        </div>
    </div>
</body>
</html>
