{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/botones.css' %}" />


<head>
    <meta charset="UTF-8">
    <title>Practica</title>
    <link rel="shortcut icon" href="{% static '/images/logo_NTTCS_CF.jpg' %}" />
</head>
<body>
    <!-- Contenedor de la página  -->
    <div class="box wrapper">

        <!-- Logo NTT Control Framework -->
        <div class="logoGrande1">
            <img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.jpg' %}">
        </div>

        <!-- titulo  -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Practica</h1>
                </div>
            </div>
        </div>

        <!-- Logo de NTT DATA -->
        <div class="logoPequeno">
            <img class="ajustarImg" src="{% static '/images/logo_NTTData.jpg' %}">
        </div>

         <!-- vista del boton de modificar -->
        <div class="botonModificar">
            <form class="tablasModificarFlex" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btnBorde btnTablas"  type="submit">Modificar</button>
                </div>
            </form>
        </div>

         <!-- Seccion de busqueda -->
        <div class="tablasBusca">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div >
                    <input style="width:150%;height:20px;" type="text" id="busqueda" name="busqueda">
                </div>
                <div >
                    <button class="btnBorde btnTablas"  type="submit" value="">Buscar</button>
                </div>
            </form>
        </div>

        <!-- Boton eliminar -->
        <div class="botonEliminar">
            <div class="tablasEliminarFlex">
                <div >
                    <a class="btnBorde btnTablas" href="{% url 'EliminarDominios' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles  -->
        <div class="tablasTablas">
            <div class="tabasFlex">

                <div class="cajaTablasTitulo" style="">
                    <div class="tabasTablaFlexTitulo">
                        <div class="tb_colprueba">Identifier</div>
                        <div class="tb_colprueba">Domain</div>
                        <div class="tb_colprueba">Security & Privacy (S|P) Principles</div>
                        <div class="tb_colprueba">Principle Intent</div>
                    </div>
                </div>

                <div class="cajaTablas">

                    {% if lenConsulta > 1 %}

                    {% for ids in consulta %}

                    <div class="tabasTablaFlex">

                        <div class="tb_colprueba">{{ids.identifier}}</div>
                        <div class="tb_colprueba">{{ids.domain}}</div>
                        <div class="tb_colprueba">{{ids.security_privacy_by_design_s_p_principles}}</div>
                        <div class="tb_colprueba">{{ids.principle_intent}}</div>

                    </div>
                    {% endfor %}

                    {% else %}
                    <div class="tabasTablaFlex">
                        <div class="tb_colprueba">{{consulta.identifier}}</div>
                        <div class="tb_colprueba">{{consulta.domain}}</div>
                        <div class="tb_colprueba">{{consulta.security_privacy_by_design_s_p_principles}}</div>
                        <div class="tb_colprueba">{{consulta.principle_intent}}</div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>

        <!-- formulario para insertar datos -->
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="identifier">identifier</label>
                    <input style="width:100%;height:20px;" type="text" id="identifier" name="identifier" value="{{seleccion.identifier}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="domain">domain</label>
                    <input style="width:100%;height:20px;" type="text" id="domain" name="domain" value="{{seleccion.domain}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="security_privacy_by_design_s_p_principles">security_privacy_by_design_s_p_principles</label>
                    <input style="width:100%;height:20px;" type="text" id="security_privacy_by_design_s_p_principles" name="security_privacy_by_design_s_p_principles" value="{{seleccion.security_privacy_by_design_s_p_principles}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="principle_intent">principle_intent</label>
                    <input style="width:100%;height:20px;" type="text" id="principle_intent" name="principle_intent" value="{{seleccion.principle_intent}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>

    </div>


<li class="nav-item dropdown">
     <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
        </svg>
        <span>Mantenimientos</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{% url 'mantenimientoNivelMadurez' %}" class="dropdown-item">Nivel de Madurez</a>
            <a href="{% url 'MantenimientoMarcosExistentes' %}" class="dropdown-item">Marcos Existentes</a>
            <a href="{% url 'MantenimientoMapeoMarcos' %}" class="dropdown-item">Mapeo de Marcos</a>
            <a href="{% url 'MantenimientoAssessmentArchivados' %}" class="dropdown-item">Assesments archivados</a>
            <a href="{% url 'MantenimientoDominios' %}" class="dropdown-item">Dominios</a>
            <a href="{% url 'MantenimientoControlesNTTCS' %}" class="dropdown-item">Controles NTTCS</a>
            <a href="{% url 'MantenimientoPreguntas' %}" class="dropdown-item">Preguntas</a>
            <a href="{% url 'MantenimientoEvidencias' %}" class="dropdown-item">Evidencias</a>
        </li>
    </ul>
</li>


</body>
</html>
