{% extends "base.html" %}

{% block titulo %} Mantenimiento Marcos Existentes {% endblock %}

{% block contenido %}
    <!-- Contenedor del contenido -->



        <!-- Titulo de la página -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Mantenimiento Marcos Existentes</h1>
                </div>
            </div>
        </div>

        <!-- BUSQUEDA -->
        <div class="rowCajas">
            <form class="cajaBuscar col-8" method="post" id="busquedaForm">
                {% csrf_token %}
                <div class="cajaInputBuscar">
                     <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda">
                 </div>
                 <div class="cajaBotonBusqueda col-2">
                    <button class="btn btn-primary btn-block"  type="submit">Buscar</button>
                 </div>
            </form>

            <form class="tablasBtnFlex col-2" method="post" >
                {% csrf_token %}
                <div >
                    <button class="btn btn-warning btn-block" type="submit">Modificar</button>
                </div>
            </form>
            <div class="col-2" >
                <a class="btn btn-danger btn-block" href="{% url 'EliminarMarcos' %}" >Eliminar</a>
            </div>
       </div>


        <!-- FILA DE ROW INSERTAR DATOS -->
        <div class="row">
            <span>Ingresar un nuevo registro:</span>
            <form class="rowInsertar" method="post">
                {% csrf_token %}
                <div class="col-5">
                    <label class="form-label" for="marco_id">marco_id</label>
                    <input class="form-control" type="text" id="marco_id" name="marco_id" value="{{seleccion.marco_id}}">
                </div>
                <div class="col-5">
                    <label class="form-label" for="nombre_tabla">table_name</label>
                    <input class="form-control" type="text" id="nombre_tabla" name="nombre_tabla" value="{{seleccion.nombre_tabla}}">
                </div>
                <div class="col-2" style="justify-content:end;align-items:center;">
                    <button class="btn btn-success btn-block"  type="submit">Insertar</button>
                </div>
            </form>
        </div>


         <!-- TABLA DE CONTENIDO  -->
        <table class="table table-fixed">
            <thead>
                <tr scope="rowgroup">
                    <th>Marco ID</th>
                    <th>Nombre tabla</th>
                </tr>
            </thead>
            <tbody>
                {% if lenConsulta > 1 %}
                {% for ids in consulta %}
                <tr>
                    <td>{{ids.marco_id}}</td>
                    <td>{{ids.nombre_tabla}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                {% else %}
                 <tr>
                    <td>{{consulta.marco_id}}</td>
                    <td>{{consulta.nombre_tabla}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
















        <!-- COPIA ORIGINAL
        <!-- Seccion de busqueda
        <div class="tablasBusca">
            <form class="tablasBuscaFlex" method="post" id="busquedaForm">
                {% csrf_token %}
                <div class="buscarMantenimiento">
                     <div >
                        <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda">
                     </div>
                     <div >
                        <button class="btn btn-primary"  type="submit">Buscar</button>
                     </div>
                </div>

            </form>
        </div>

        <!-- Boton eliminar
        <div class="botonEliminar">
            <div class="tablasBtnFlex">
                <div >
                    <a class="btn btn-danger" href="{% url 'EliminarMarcos' %}" >Eliminar</a>
                </div>
            </div>
        </div>

        <!-- tabla de contenido de los controles
        <div class="tablasTablas">
            <div class="tabasFlex">
                <div class="cajaTablasTitulo">
                    <div class="tabasTablaFlexTitulo"><div class="tb_colprueba">marco ID</div><div class="tb_colprueba">Nombre tabla</div></div>
                </div>
                <div class="cajaTablas">
                    {% if lenConsulta > 1 %}

                    {% for ids in consulta %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{ids.marco_id}}</div><div class="tb_colprueba">{{ids.nombre_tabla}}</div></div>
                    {% endfor %}
                    {% else %}
                    <div class="tabasTablaFlex"><div class="tb_colprueba">{{consulta.marco_id}}</div><div class="tb_colprueba">{{consulta.nombre_tabla}}</div></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- formulario para insertar datos
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="marco_id">marco_id</label>
                    <input style="width:100%;height:20px;" type="text" id="marco_id" name="marco_id" value="{{seleccion.marco_id}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="nombre_tabla">table_name</label>
                    <input style="width:100%;height:20px;" type="text" id="nombre_tabla" name="nombre_tabla" value="{{seleccion.nombre_tabla}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btn btn-success btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>
        -->

{% endblock %}