{% extends "base.html" %}

{% block titulo %} Mant Nivel de Madurez {% endblock %}

{% block contenido %}



    <!-- titulo  -->
    <div class="rowTitulo">
    <!-- Titulo con el nombre del assessment -->
        <div class="cajaTitulo">
            <h1>Mantenimiento Nivel de Madurez</h1>
        </div>
    </div>

    <div class="rowCajasMantenimiento">

        <form class="cajaBuscar" method="post" id="busquedaForm">
            {% csrf_token %}
            <div class="cajaInputBuscar input-group">
                <input type="text" class="form-control" placeholder="Búsqueda ..." id="busqueda" name="busqueda">
                <button class="btn btn-outline-primary"  type="submit">Buscar</button>
            </div>
        </form>

        <form class="btnFlexMant" method="post" >
            {% csrf_token %}
            <button class="btn btn-warning btn-block"  type="submit">Modificar</button>
        </form>

        <!-- Boton eliminar -->
        <div class="btnFlexMant">
            <a class="btn btn-danger btn-block" href="{% url 'Eliminar' %}" >Eliminar</a>
        </div>

    </div>

        <!-- tabla de contenido de los controles  -->
        <table class="table table-bordered table-fixed">
            <thead>
                <tr>
                    <th scope="col">Ccmmcod</th>
                    <th scope="col">Description</th>
                    <th scope="col">Sublevels</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if lenConsulta > 1 %}
                {% for ids in consulta %}
                <tr>
                    <td>{{ids.ccmmcod}}</td>
                    <td>{{ids.description}}</td>
                    <td>{{ids.sublevels}}</td>
                    <td>{{ids.percentage}}</td>
                    <td class="botonesTabla">
                        <button class="btn btn-warning btn-sm" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <a class="btn btn-danger btn-sm" title="Borrar" href="{% url 'Eliminar' %}">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>


        <!-- formulario para insertar datos -->
        <div class="row">

                <form class="" method="post">
                    <h5>Ingresar datos:</h5>
                    {% csrf_token %}
                    <div class="row rowInsertar">
                        <div class="col-4">
                            <label class="form-label" for="Ccmmcod">Ccmmcod:</label>
                            <input class="form-control" type="text" id="Ccmmcod" name="Ccmmcod" value="{{seleccion.ccmmcod}}">
                        </div>
                         <div class="col-4">
                            <label class="form-label" for="Sublevels">Sublevels:</label>
                            <input class="form-control" type="text" id="Sublevels" name="Sublevels" value="{{seleccion.sublevels}}">
                        </div>
                        <div class="col-4">
                            <label class="form-label" for="Percentage">Percentage:</label>
                            <input class="form-control" type="text" id="Percentage" name="Percentage" value="{{seleccion.percentage}}">
                        </div>
                    </div>

                    <div class="row rowInsertar">
                         <div class="">
                            <label class="form-label" for="Description">Description:</label>
                            <!-- <input class="" type="text" id="Description" name="Description" value="{{seleccion.description}}"> -->
                            <textarea class="form-control" name="comentarios" cols="auto" id="Description" name="Description" value="{{seleccion.description}}">Escribe aquí una descripción</textarea>
                         </div>
                    </div>


                    <div class="cajaButton mt-2" >
                        <button class="btn btn-success"  type="submit">Insertar</button>
                    </div>
                </form>


        </div>





        <!-- formulario para insertar datos COPIA ORIGINAL
        <div class="tablasInsertar">
            <form class="tablasInsertarFlex" method="post">
                {% csrf_token %}
                <div class="cajaInsertar1">
                    <label for="Ccmmcod">Ccmmcod</label>
                    <input style="width:100%;height:20px;" type="text" id="Ccmmcod" name="Ccmmcod" value="{{seleccion.ccmmcod}}">
                </div>
                <div class="cajaInsertar2">
                    <label for="Description">Description</label>
                    <input style="width:100%;height:20px;" type="text" id="Description" name="Description" value="{{seleccion.description}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="Sublevels">Sublevels</label>
                    <input style="width:100%;height:20px;" type="text" id="Sublevels" name="Sublevels" value="{{seleccion.sublevels}}">
                </div>
                <div class="cajaInsertar1">
                    <label for="Percentage">Percentage</label>
                    <input style="width:100%;height:20px;" type="text" id="Percentage" name="Percentage" value="{{seleccion.percentage}}">
                </div>
                <div class="cajaInsertar1 cajaButton" >
                    <button class="btnBorde btnTablas2"  type="submit">Insertar</button>
                </div>
            </form>
        </div>
        -->



{% endblock %}
