{% load static %}

<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static '/css/main.css' %}" />
<link rel="stylesheet" href="{% static '/css/botones.css' %}" />


<head>
    <meta charset="UTF-8">
    <title>Mantenimiento</title>
    <link rel="shortcut icon" href="{% static '/images/logo_NTTCS_CF.jpg' %}" />
</head>
<body>

    <!-- Contenedor de la página  -->
    <div class="box wrapper">

         <!-- Logo NTT Control Framework -->
        <div class="logoGrande1">
            <img class="ajustarImg" src="{% static '/images/logo_NTTCS_CF.jpg' %}">
        </div>

        <!-- titulo  -->
        <div class="tituloMantenimiento">
            <div class="flexTitulo">
                <div class="cajaTexto">
                    <h1>Mantenimiento</h1>
                </div>
            </div>
        </div>

        <!-- Logo de NTT DATA -->
        <div class="logoPequeno">
            <img class="ajustarImg" src="{% static '/images/logo_NTTData.jpg' %}">
        </div>

        <!-- Seccion del menu de mantenimiento -->
        <div class="manBotones1">
            <div class="manBotonesFlex1">
                <div class="cajaBotonMan">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'mantenimientoNivelMadurez' %}" >Nivel de Madurez</button>
                </div>
                <div class="cajaBotonMan">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'MantenimientoMarcosExistentes' %}">Marcos Existentes</button>
                </div>
                <div class="cajaBotonMan">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'MantenimientoMapeoMarcos' %}">Mapeo de Marcos</button>
                </div>
                <div class="cajaBotonMan">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'MantenimientoAssessmentArchivados' %}" >Assessments Archivados</button>
                </div>
            </div>
        </div>

        <!-- Seccion del menu de mantenimiento -->
        <div class="manBotones2">
            <div class="manBotonesFlex2">
                <div class="cajaBotonMan1">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'MantenimientoDominios' %}" >Dominios</button>
                </div>
                <div class="cajaBotonMan1">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'MantenimientoControlesNTTCS' %}" >Controles NTTCS</button>
                </div>
                <div class="cajaBotonMan1">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'MantenimientoPreguntas' %}" >Preguntas</button>
                </div>
                <div class="cajaBotonMan1">
                    <button class="btnBorde btnMenu" onclick="location.href={% url 'MantenimientoEvidencias' %}">Evidencias</button>
                </div>
            </div>
        </div>



    </div>


</body>
</html>

