{% extends "base.html" %}

{% block titulo %} Menu {% endblock %}

{% block contenido %}

<div class="">
<!-- Contenedor de la página  -->

    <div class="">

        <!-- Logo NTT Control Framework -->
         <div class="titulo">

                <h1>NTT DATA CONTROL FRAMEWORK</h1>

         </div>


        <div class="presentacion">
            <div class="imagen_inicio">
            <img  class="ajustarImg" src="../staticfiles/images/equipo2.jpg">
            </div>

            <div class="msj_inicial">
                <h3>"Herramienta de ciberseguridad para la implementaci&oacute;n de controles en seguridad de la Informaci&oacute;n"</h3>
            </div>
        </div>




    </div>

</div>

{% endblock %}
