{% extends "base.html" %}

{% block titulo %} Menu {% endblock %}

{% block contenido %}


<!-- Contenedor de la página  -->

        <!-- Logo NTT Control Framework -->
        <div class="rowTitulo">
           <!-- Titulo  -->
           <div class="cajaTitulo">
               <h1>NTT DATA CONTROL FRAMEWORK</h1>
           </div>
        </div>

        <!-- seccion pantalla de inicio -->
        <div class="rowPresentacion">
            <!-- insercion de imagen  -->
            <div class="imagen_inicio">
                <img  class="ajustarImg" src="../staticfiles/images/equipo2.jpg">
            </div>
            <!-- mensaje pagina de inicio -->
            <div class="msj_inicial">
                <h3>"Herramienta de ciberseguridad para la implementaci&oacute;n de controles en seguridad de la Informaci&oacute;n"</h3>
            </div>
        </div>


{% endblock %}
