.pagina{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:start;
}
.menu{
    width:20%;
    height:100%;
    display:flex;
    flex-direction:column;
    margin:1%;
    background-color:#F5F5F5;
    border-radius:20px;
}

.cajaMenuBlanco{
    width:100%;
    min-height: 100%;
    height: auto ;
    height: 100%;
    display:flex;
    flex-direction:row;
    justify-content:end;
    align-items:center;
    padding-top:20%;

}

.rowMenu{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:start;
    align-items:center;

}

.imagenMenuBot{
    width:100%;
    height:100%;
    margin:8%;
}


.imagenMenu{
    width:100%;
    height:100%;
    margin:5%;
    padding-bottom:20%;
}
.textoMenu{
    width:100%;
    height:100%;
    text-align:center;
    font-size:1.2vw;
    padding:5% 0;
    background-color:#DFDFDF;
}



.cajaBtn{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    text-align:center;

}
.btnMenu{
    width:100%;
    height:100%;
    padding:5% 0%;
    margin:0;
    transition-duration: 0.4s;
    text-decoration: none;
    color: initial;
    text-align:center;
    font-size:1.2vw;

}
.btnMenuDrop{
    width:100%;
    height:100%;
    padding:5% 0%;
    margin:0;
    transition-duration: 0.4s;
    text-decoration: none;
    color: initial;
    text-align:center;
    font-size:1.2vw;

}

.btnMenu:hover {
    background:linear-gradient(to right #F5F5F5 0%, #F5F5F5 50%, #DFDFDF 50%, #DFDFDF 100%);
    background-color:#DFDFDF;
    text-decoration: none;
    color: initial;
    background-position: 100% 0;
    transition: background-position 0.3s;
}
.btnMenuDrop:hover {
    background:linear-gradient(to right #F5F5F5 0%, #F5F5F5 50%, #DFDFDF 50%, #DFDFDF 100%);
    background-color:#DFDFDF;
    text-decoration: none;
    color: initial;
    background-position: 100% 0;
    transition: background-position 0.3s;
}



.contenido{
    width:80%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:start;
    margin:1%;
}

.rowTitulo{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
}

.cajaForm{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:start;
}

.rowCajas{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
    margin:1%;

}
.cajaMitad{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    margin:1%;

}

.cajaBoton{
    width:35%;
    height:100%;
    margin: 3%;
    border-radius:5px;
    box-shadow: 10px 10px 25px #A9A9A9;

}

.tarjeta{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:top;
    border-radius:20px;
    background-color:#F5F5F5;
    box-shadow: 10px 10px 25px #A9A9A9;

}
.tituloTarjeta{
    width:100%;
    height:30%;
    min-height: 50px;
    border-radius:20px 20px 0px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:#DFDFDF;
    font-size: 2.1vh;
}

.textoTarjeta{
    width:100%;
    height:70%;
    min-height: 150px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.cuadrotexto{
    width:wrap-content;
    height:wrap-content;
    text-align:center;
    margin:2%;
}

.cajaNombreControl{
    width:50%;
    height:100%;
    margin:1%;
}
.cajaPreguntaDescripcion{
    width:100%;
    height:100%;
    margin:1%;
}


.contenedorSelector{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:1%;
}
.cajasTextoSelectorAssessment{
    margin:1%;
    font-size:24px;
    width:20%;
    text-align:right
}

.cajasSelectorAssessment{
    margin:1%;
    width:20%;
    border-radius:5px;
    box-shadow: 10px 10px 25px #A9A9A9;
}

.cajasTextoSelectorValoracion{
    margin:1%;
    font-size:24px;
    width:25%;
    text-align:center
}
.bootstrap-select {
    width: 100%;
    height:100%;
}
.bootstrap-select .btn{
    width: 100%;
    height:100%;
    padding:1%;
    font-size: 1vw;
}

.cajasSelectorValoracion{
    margin:1%;
    width:60%;
    height:60px;
    border-radius:5px;
    box-shadow: 10px 10px 25px #A9A9A9;

}

.cajaEditorTexto{
    margin:1%;
    width:100%;
    height:400px;
}


.cajaTitulo{
    width:wrap-content;
    height:wrap-content;
    margin:2%


}
.fontGrande{

    font-size:1.5vw;
}

.margenArriba{
    width:wrap-content;
    height:wrap-content;
    margin:1%;
    font-size: 1.2vw;
}


.cajaSeleccionAsssessment{
    width:50%;
    height:100%;
    margin:1%;
}

.cajaTextoSeleccionAssesment{
    width:100%;
    height:70px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:1%;
    margin-top:0%;

}

.cajaBotonSeleccionAssesment{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:4%;
    margin-bottom:8%;
}
.cajaBotonSeleccion{
    width:50%;
    height:100%;
}

.contenidoAbajo{
    align-items: end;
}

.cajaSelectorCentrado{
    width:75%;
    height:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:1%;
    margin-botton:2%;
    border-radius:5px;
    box-shadow: 10px 10px 25px #A9A9A9;

}