/* MENU DEL SISTEMA */
.titulo h1 {
    width:100%;
    height:auto;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin-bottom:0;
}

.rowPresentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:0px;
    padding-top: 50px;
}

.presentacion div {
    width: 50%;
}

.imagen_inicio {
    margin: 3%;
    width: 70%;
    height:70%;

}

.msj_inicial h3 {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}

.robotito{
    margin: 3%;
    width: 40%;
    height:40%;
}
.ExportacionesTabla{
    wi
    background-color:0;
}

/* ESTILOS DE PAGINA INFORMES */

.logoPequenoInformes img {

}

.rowImagen {
    align-self: end;
}

.rowGenerarInforme {
    width:70%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:start;
}

/* BOTONES ESTILOS EN MANTENIMIENTOS  */
.rowCajasMantenimiento{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
}

.tabla1{
    height:100%;
    width:wrap-content;
}
.tabla2{
    height:100%;
    width:15%;
}

.inputTabas{
    height:200%;
    width:100%;
    border:0;
    overflow:auto;
    resize: none;
    background-color:transparent;
}

.inputTabas2{
    height:100%;
    width:100%;
    border:0;
    resize: none;
    background-color:transparent;
}

.cajaBuscar{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;

}
.cajaSelectorMantenimiento{
    width:30%;
    height:100%;
    margin:1%;

}
.cajalabelMantenimiento{
    width:11%;
    height:100%;
    margin:1%;

}
.cajaAccionesMantenimiento{
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    margin:2%;
}
.cajaInputBuscar{
    width:70%;
    height:100%;
    margin:1%;

}
.cajaCarga{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:2%;
}
.contenedorBusqueda{
    width:70%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:2%;
}

.contenedorBusqueda2{
    width:70%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    margin:2%;
}


.cajaBotonEliminarAssessment{
    width:30%;
    height:100%;
    margin:1%;
}

.cajaInputBuscar2 {
    flex-basis: calc(70% - 1rem);
}

.cajaBtnEliminarAssess {
    flex-basis: calc(15% - 1rem);
}


.btnFlexMant {
    flex-basis: calc(15% - 1rem);
}

.cajaSmallInsertar {
    flex-basis: calc(30% - 1rem);
}

.cajaBigInsertar {
    flex-basis: calc(70% - 1rem);
}


/* INSERTAR DATOS PAGINA MANTENIMIENTO */
.rowInsertar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: end;
    /*border: 1px solid black;*/
}

.rowInsertar2{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    /*border: 1px solid black;*/
}

.rowInsertMantMarcosExistentes {
    flex-basis: calc(42.5% - 1rem);
}

.cajaTripleInsertar {
    flex-basis: calc(33.3% - 1rem);
}


/* ESTILOS DE LAS TABLAS */
.table {
    width: 100%;
}

.flexTable{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.botonesTabla {
    display: inline-block;
    width: 100%;
    height: 100%;
}
table {
  position: relative;
}

.table-fixed thead tr th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 2px solid black;
}

.table-fixed tbody {
    height: 300px;
    overflow: auto;
}

/* INFORMES DEL SISTEMA */
.rowExport {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:5%;

}

.rowInformesSelect {
    width: 50%;

}

.btnGroupInformes {
    width:40%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:1%;

}
.cajaBotonExportacion{
    width:100%;
    height:100%;
    margin:2%;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .imagen_inicio {
        margin: 3%;
        width: 100%;
        height:100%;
    }

    .msj_inicial h3 {
        width: 100%;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }
}

@media (max-width: 520px) {
    .rowPresentacion {
        display: flex;
        flex-direction: column;

    }
    .cajaTitulo {
        text-align: center;
    }

    .imagen_inicio {
        margin: 5%;
        width: 50%;

    }

    .msj_inicial h3 {
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
    }
}
@media (max-width: 320px) {
    .rowPresentacion {
        display: flex;
        flex-direction: column;
    }

    .imagen_inicio {
        display: none;
        margin: 3%;
        width: 100%;
        height:100%;
    }

    .msj_inicial h3 {
        text-align: center;
        font-size: 2rem;
    }
}

/*
@media (min-width: 0px) {
    .rowPresentacion {
        display: flex;
        flex-direction: column;

    }
    .imagen_inicio {
        display: none;
        margin: 3%;
        width: 100%;
        height:100%;
    }

    .msj_inicial h3 {
        display:block;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
    }
}
*/
@media only screen and (min-width: 320px) and (max-width: 576px) {}





/* PAGINA LOGIN DEL SISTEMA */
body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;

    margin: 0;
    background-color: #0f4c75;
}

#contenedor_login {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo_login {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 20px 30px;
    background-color: #3282b8;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;

    display: block;
    width: 100%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    background-color: #bbe1fa;

    margin-top: 10px;
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
}

.pie-form .aPie {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form .spanPie {
    display: block;
    color: #bbe1fa;
}

.pie-form .aPie:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}

.btn-ntt {
  color: #FFFFFF;
  background-color: #0060AE;
  border-color: #0060AE;
}

.btn-ntt:hover,
.btn-ntt:focus,
.btn-ntt:active,
.btn-ntt.active,
.open .dropdown-toggle.btn-ntt {
  color: #FFFFFF;
  background-color: #194263;
  border-color: #0060AE;
}

.btn-ntt:active,
.btn-ntt.active,
.open .dropdown-toggle.btn-ntt {
  background-image: none;
}

.btn-ntt.disabled,
.btn-ntt[disabled],
fieldset[disabled] .btn-ntt,
.btn-ntt.disabled:hover,
.btn-ntt[disabled]:hover,
fieldset[disabled] .btn-ntt:hover,
.btn-ntt.disabled:focus,
.btn-ntt[disabled]:focus,
fieldset[disabled] .btn-ntt:focus,
.btn-ntt.disabled:active,
.btn-ntt[disabled]:active,
fieldset[disabled] .btn-ntt:active,
.btn-ntt.disabled.active,
.btn-ntt[disabled].active,
fieldset[disabled] .btn-ntt.active {
  background-color: #0060AE;
  border-color: #0060AE;
}

.btn-ntt .badge {
  color: #0060AE;
  background-color: #FFFFFF;
}

.fr-1{
    font-size:0.8vw;
}

.fr-4{
    font-size:1.3vw;
}