
body{
    font-family:monospace ;
}

.box {
     width: 1000px;
     height: 600px;
     border: 3px solid #3086FC;
     background: #AACEFF;
     padding:1%;
     border-radius: 30px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

.logoPequeno{
    grid-column: 4;
    grid-row: 1;
    text-align:right;
}

.logoGrande{
    grid-column: 1 / 4;
    grid-row: 1 /3;
}

.box {
  display: grid ;
  place-items: center ;
}

.tituloMantenimiento{
    grid-column: 2/3;
    grid-row: 1;
}

.centrarTitulo{
  white-space: nowrap ;
  text-align: center ;
  margin-right: 110px ;
  margin-left: 110px ;
}
.flexTitulo{
    width:200%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.cajaTexto{
    width:100%;
    text-align:center ;
}

.logoGrande1{
    grid-column: 1 ;
    grid-row: 1 ;
}
.informacion{
    grid-column: 1 / 2;
    grid-row: 5;
    text-align:right ;
    font-size:11px;
}

.loginNames{
    grid-column: 2;
    grid-row: 4;
    text-align:right;
    font-size:15px;
}

.login{
    grid-column: 3;
    grid-row: 4;
    text-align:center;
}

.ajustarImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.redondearBordes{
    border-radius: 8px;
    border-color:#3086FC;
}

.botonesMenu1{
    grid-column: 3/4;
    grid-row: 2/6;
    text-align:center;

}

.botonesFlex{
    width:200%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.cajaBoton{
    width:50%;
}


