
body{
    font-family:monospace ;
}

.box {
     width: 1000px;
     height: 600px;
     border: 3px solid #3086FC;
     background: #AACEFF;
     padding:1%;
     border-radius: 30px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}

.logoPequeno{
    grid-column: 4;
    grid-row: 1;
    text-align:right;
}

.logoGrande{
    grid-column: 1 / 4;
    grid-row: 1 /3;
}



.informacion{
    grid-column: 1/ 2;
    grid-row: 5;
    text-align:right ;
    font-size:11px;
}

.loginNames{
    grid-column: 2;
    grid-row: 4;
    text-align:right;
    font-size:20px;
}


.login{
    grid-column: 3;
    grid-row: 4;
    text-align:center;
}

.ajustarImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.redondearBordes{
    border-radius: 8px;
    border-color:#3086FC;
}

.tituloMantenimiento{
    grid-column: 2/3;
    grid-row: 1;
}

.flexTitulo{
    width:200%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.cajaTexto{
    width:100%;
    text-align:center ;
}

.logoGrande1{
    grid-column: 1 ;
    grid-row: 1 ;
}

.botonesMenu1{
    grid-column: 3/4;
    grid-row: 2/6;
    text-align:center;

}

.botonesFlex{
    width:200%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.cajaBoton{
    width:50%;
}

.botonAssessment1{
    grid-column: 1;
    grid-row: 2;
}

.botonAssessment2{
    grid-column: 1;
    grid-row: 3;
}

.textoAssessment1{
    grid-column: 2;
    grid-row: 2;
    text-align:center;
}

.textoAssessment2{
    grid-column: 2;
    grid-row: 3;
    text-align:center;
}
.textoAssessment3{
    grid-column: 2;
    grid-row: 4;
    text-align:center;
}

.selectorAssessment1{
    grid-column: 3;
    grid-row: 2;
}

.entradaTextoAssessment{
    grid-column: 3;
    grid-row: 3;
}
.selectorAssessment2{
    grid-column: 3;
    grid-row: 4;
}

.selectStyleAssessment{
    width:200px;
    height:30px;
}

.gridBotonesAssessment{
    grid-column: 2/3;
    grid-row: 5;
}

.botonesFlexAssessment{
    width:200%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.ass12{
    grid-column: 1;
    grid-row: 2;
    text-align:center;
}

.ass22{
    grid-column: 2;
    grid-row: 2;
    text-align:left;
}

.ass32{
    grid-column: 3 / 4;
    grid-row: 2;
    text-align:left;
}

.ass13{
    grid-column: 1 / 2;
    grid-row: 3;
    text-align:left;
}

.ass33{
    grid-column: 3;
    grid-row: 3;
    text-align:left;
}

.ass34{
    grid-column: 4;
    grid-row: 3;
    text-align:left;
}

.ass41{
    grid-column: 1/2;
    grid-row: 4;
    text-align:left;
}

.ass43{
    grid-column: 3/4;
    grid-row: 4;
    text-align:left;
}

.ass52{
    grid-column: 2/3;
    grid-row: 5;
    text-align:center;
}

.ex22{
    grid-column: 2;
    grid-row: 2;
    text-align:center;
}

.ex32{
    grid-column: 3;
    grid-row: 2;
    text-align:center;
}

.ex23{
    grid-column: 2/3;
    grid-row: 3;
    text-align:center;
}

.ex24{
    grid-column: 2/3;
    grid-row: 4;
    text-align:center;
}
.ex25{
    grid-column: 2/3;
    grid-row: 5;
    text-align:center;
}