<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform processPath="C:\Users\administrator\AppData\Local\Programs\Python\Python311\python.exe" arguments="C:\Users\administrator\Documents\NTTCS_Control_Framework\NTTCS_CF_project\manage.py runserver %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true">
            <environmentVariables>
                <environmentVariable name="%HTTP_PLATFORM_PORT%" value="SERVER_PORT" />
            </environmentVariables>
        </httpPlatform>
        <handlers>
            <add name="mypyhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\Users\administrator\Documents\NTTCS_Control_Framework\NTTCS_CF_project\NTTCS_CF_project" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="NTTCS_CF_project.settings" />
    </appSettings>
</configuration>
